<div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
            <form class="form-inline" action="/action_page.php">
                <label for="date">Start Date :</label>
                <input type="date" class="form-control" placeholder="" id="email">&nbsp;
                <label for="pwd">End Date:</label>
                <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;
                
                <i class="fa fa-search" aria-hidden="true" ></i>
                
               
               
            </form>
            <br>
            <p style="text-align: center;color: white;font-weight: bold;">Upload Only DOC Files</p>
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                    <select>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
                    </select>
                    <input type="text" class=" dd search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <p></p>
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>S.no</th>
                <th>Uploaded Date</th>
                <th>Old Retailer Code </th>
                <th> Retailer Name  </th>
                <th> Old Depot Code</th>
                <th>Depot Name </th>
                <th> APBCL  TXN NO  </th>
                <th>Challan NO   </th>
                <th> Challan Date  </th>
                <th> Challan Amount</th>
               
               
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1  </td>
                <td>01-01-2020</td>
                <td>154334</td>
                <td>M/S Gudur Wines(23e57364fh8e8)</td>
                <td>87</td>
                <td>Excise Depot Nellore</td>
                <td>AP244566t74839</td>
                <td>234464774</td>
                <td>01-01-2020</td>
                <td>164774</td>
                
               
              </tr>
              <tr>
                <td>1  </td>
                <td>01-01-2020</td>
                <td>154334</td>
                <td>M/S Gudur Wines(23e57364fh8e8)</td>
                <td>87</td>
                <td>Excise Depot Nellore</td>
                <td>AP244566t74839</td>
                <td>234464774</td>
                <td>01-01-2020</td>
                <td>164774</td>
                
               
              </tr>
              <tr>
                <td>1  </td>
                <td>01-01-2020</td>
                <td>154334</td>
                <td>M/S Gudur Wines(23e57364fh8e8)</td>
                <td>87</td>
                <td>Excise Depot Nellore</td>
                <td>AP244566t74839</td>
                <td>234464774</td>
                <td>01-01-2020</td>
                <td>164774</td>
                
               
              </tr>
              
               
             
             
             
            </tbody>
          </table>
    </div>
      <div class="col-12">
          <input type="file">
          <button type="button" class="btn btn-info">Upload data</button>
        
      <span class="but">  <button type="button" class="btn btn-info">Pervious</button>&nbsp;
        <button type="button" class="btn btn-info">Next</button></span>
        
        
    </div>

    
</div>













 


