<div>
    <input type="search"><img src="https://img.icons8.com/metro/18/000000/search.png">
</div>
<div>
    <table style="border: 1px solid;border-color: black;">
        <tr style="background-color: #2e5d74; color: white;">
            <th>
                OFS Number
            </th>
            <th>Depot</th>
            <th>Product Code</th>
            <th>Brand Name</th>
            <th>Size(ml)</th>
            <th>OFS Qty(cs)</th>
            <th>Allocated Qty(cs)</th>
            <th>Balance Qty(cs)</th>
            <th>Allocated Qty</th>
            <th>Excise Duty</th>
        </tr>
        <tr>
            <td>O7Y79H9HH9H7Y7</td>
            <td>Amaravathi</td>
            <td>12323324FVVEWF23</td>
            <td>Seagrams Royal Stag</td>
            <td>180</td>
            <td>10</td>
            <td>0</td>
            <td>10</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
    </table>
</div>
<button mat-dialog-close (click)="save()" style="background-color: #2e5d74;">Save</button>