
<nav style="    background: rgb(45,79,107);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
    <label for="" style="color: white;
    margin-left: 38rem;">
        Search :
        <input type="search">
    </label>
</nav>
<div>
    <table class="table table-striped">
        <tr>
            
            <th>S.No</th>
            <th>Basic Price Lower Value</th>
            <th>Basic Price Upper Value</th>
            <th>Basic Value</th>
            <th>Basic Percent</th>
            <th>Category</th>
            <th>Price Name</th>
            <th>Price Group Id</th>
            <th>Edit Details</th>
            

        </tr>
        <tr>
            <td>1</td>
            <td>2000</td>
            <td>4000</td>
            <td>160</td>
            <td>5</td>
            <td>E</td>
            <td>Local</td>
            <td></td>
            <td><a href="">Edit Details</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>2000</td>
            <td>4000</td>
            <td>160</td>
            <td>5</td>
            <td>E</td>
            <td>Local</td>
            <td></td>
            <td><a href="">Edit Details</a></td>
        </tr>
    </table>
</div>



<div>
    <p style="font-weight: 600;"><img src="https://img.icons8.com/flat_round/20/000000/plus.png"> <strong> Add Price Rules</strong></p>
</div>
<div style="float: right;">
    <button>Previous</button>
    <button style="margin-left: 26px;
    width: 83px;">Next</button>
</div>