<h1 style="background-color: #2e5d74;color: white;">TP GENERATION</h1>
<table>
    <tr>
        <th>TP</th>
        <th>Dispatch Advice</th>
        <th>Gate Pass</th>
    </tr>
    <tr>
        <td style="padding-bottom: 50px;"><img src="https://img.icons8.com/officel/30/000000/pdf.png"></td>
        <td style="padding-bottom: 50px;"><img src="https://img.icons8.com/officel/30/000000/pdf.png"></td>
        <td style="padding-bottom: 50px;"><img src="https://img.icons8.com/officel/30/000000/pdf.png"></td>
    </tr>
</table>


<div>
    <label for="" style="margin-left: 1rem;">
        Valid Period (hrs) :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 3.5rem;">
        Vehicle No. :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 6rem;">
        Route :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 3.6rem;">
        Transporter :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 5.7rem;">
            LR No. :
            <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 5.3rem;">
        LR Date :
        <input type="text">
    </label>
</div>
<div>
    <button mat-dialog-close style="margin-left: 10rem;
    background: seagreen;
    color: white;">GENERATE TP</button>
</div>


<table style="margin-top: 2rem;">
    <tr>
        <th>OFS No.</th>
        <th>Product Code</th>
        <th>Brand Name</th>
        <th>Order Qty</th>
        <th>Allocated Qty</th>
        <th>Excise Duty</th>
    </tr>
    <tr>
        <td>ef</td>
        <td>rvr</td>
        <td>dcef</td>
        <td>devwf</td>
        <td>fvrf</td>
        <td>efvrf</td>
    </tr>
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>1000</td>
    </tr>
</table>

<div>
    <button mat-dialog-close>Generate TP</button>
    
</div>