<div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
            <form class="form-inline" action="/action_page.php">
                <label for="date">Start Date :</label>
                <input type="date" class="form-control" placeholder="" id="email">&nbsp;
                <label for="pwd">End Date:</label>
                <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;
                <select style="height: 30px;">
                    <option>Select  Depot</option>
                    <option>Eagle Distillery</option>
                    <option>BRK Spirits</option>
                </select>&nbsp;
                <i class="fa fa-search" aria-hidden="true"></i>
               
            </form>
            
           
<div class="col-md-12">
    
           <p></p>
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>S.no</th>
                <th>Depot </th>
                <th> Quantity  </th>
                <th> Request Date</th>
                <th>Status</th>
               
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>No data avalible</td>
                <td></td>
                <td></td>
                <td></td>
                <td> </td>
                
               
              </tr>
             
             
            </tbody>
          </table>
    </div>
        
        
    </div>

    
</div>

<div id="button" style="float: right;">
    
  <button>previous</button>
  <button>Next</button>
</div> 












 


