
 <p *ngIf="isAddPerm"><img src="https://img.icons8.com/color/48/000000/plus--v1.png" width="15" height="15" style="cursor: pointer;" (click)="addRoute()" > Route </p>
 <nav class="navbar navbar-expand-lg navbar navbar-dark ">
     <div style="margin-top: -5rem;" >
         <select name="" id="">
             <option value="">1</option>
             <option value="">2</option>
         </select>
         <label for="" id="search">
             Search :
             <input type="search">
         </label>
     </div>
 </nav>
 
 <div class="bs-example">
     <table class="table table-striped">
         <thead>
             <tr>
                 <th>Name</th>
                 <th>Route</th>
                 <th>Source Location</th>
                 <th>Destination Location</th>
             </tr>
         </thead>
         <tbody>
             <tr>
                 <td>Amaravathi</td>
                 <td>Vijayawada</td>
                 <td>M/S.Brk Spirit</td>
                 <td>Amaravathi</td>
 
 
             </tr>
             <tr>
                <td>Amaravathi</td>
                <td>Vijayawada</td>
                <td>M/S.Brk Spirit</td>
                <td>Amaravathi</td>


            </tr>
            <tr>
                <td>Amaravathi</td>
                <td>Vijayawada</td>
                <td>M/S.Brk Spirit</td>
                <td>Amaravathi</td>


            </tr>
                       
         </tbody>
     </table>
 </div>
 <!-- <button (click)="refresh()">Refresh</button> --><br><br>
 <div id="button" style="float: right;">
     
     <button>previous</button>
     <button>Next</button>
 </div> 