<div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="isAdd=true" [ngClass]="{'active':isAdd}">Add</button>
    <button type="button" class="btn btn-primary" (click)="isAdd=false" [ngClass]="{'active':!isAdd}">Edit</button>
</div>
<div class="row">
    <div class="col-md-4" *ngIf="isAdd">
        <label>Enter Role Name:</label>
        <input type="text" [(ngModel)]="rolesWithPrms.roleName"  class="form-control" placeholder="Role Name">
        <div *ngFor="let errors of getErros('roleName')">
            <span style="color:red">{{errors}}</span>
        </div>
    </div>
    <div class="col-md-4" *ngIf="!isAdd">
        <label>Select Role Name:</label>
        <ng-select [(ngModel)]="rolesWithPrms.roleName" (change)="onChangeRole($event)" bindValue="roleName" bindLabel="roleName" [items]="activeRoles">
        </ng-select>
        <div *ngFor="let errors of getErros('roleName')">
            <span style="color:red">{{errors}}</span>
        </div>
    </div>
    <div class="col-md-4">
        <label>Enter roleType:</label>
        <input type="text" [(ngModel)]="rolesWithPrms.roleType" class="form-control" placeholder="Role Type">
        <div *ngFor="let errors of getErros('roleType')">
            <span style="color:red">{{errors}}</span>
        </div>
    </div>
    <div class="col-md-4">
        <label>Enter description:</label>
        <input type="text" [(ngModel)]="rolesWithPrms.description" class="form-control" placeholder="Role Description">
    </div>
</div>
<br/>
<div style="text-align: right;"><label>Select All<input class="labelLeft" type="checkbox" (change)="checkAll($event)" /></label></div>
<div style="overflow: auto;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Path</th>
                <th>Title</th>
                <th>View<input type="checkbox" [checked]="checkIfSelectAll" (change)="checkAllView($event)" class="labelLeft"/></th>
                <th>Delete<input type="checkbox" [checked]="checkIfSelectAll" (change)="checkAllDelete($event)" class="labelLeft" /></th>
                <th>Add<input type="checkbox" [checked]="checkIfSelectAll" (change)="checkAllAdd($event)" class="labelLeft" /></th>
                <th>Edit<input type="checkbox" [checked]="checkIfSelectAll" (change)="checkAllEdit($event)" class="labelLeft" /></th>
                <!-- <th>
                </th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of permissions;let i=index">
                <td><input type="text" class="form-control" [(ngModel)]="item.routerLink" readonly/></td>
                <td><input type="text" class="form-control" [(ngModel)]="item.title" readonly/></td>
                <td><input type="checkbox" [(ngModel)]="item.view"/></td>
                <td><input type="checkbox" [(ngModel)]="item.delete"/></td>
                <td><input type="checkbox" [(ngModel)]="item.add"/></td>
                <td><input type="checkbox" [(ngModel)]="item.edit"/></td>
                <!-- <td>  <button type="button" class="btn btn-success" (click)="addMap(i)"><i class="fa fa-plus"
                    aria-hidden="true"></i></button>
            <button type="button" class="btn btn-danger" (click)="deleteMap(i)"
                *ngIf="rolesWithPrms.permissionsList.length>1"><i class="fa fa-trash-o"
                    aria-hidden="true"></i></button></td> -->
            </tr>
        </tbody>
    </table>
</div>
<button  style="margin-left: 360px;" class="btn btn-primary" (click)="save()">Save</button>&nbsp;
<button class="btn btn-primary" (click)="clear()">Clear/Cancel</button>&nbsp;