<div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
           
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                   
                </div>
            </div>
           
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
             
            </thead>
            <tbody>
              
              <tr>
                <td >Process Date  </td>
                <td><input type="date"></td>
                <td><i class="fa fa-print" aria-hidden="true" style="color: white;"></i></td>
              </tr>
              <tr>
                <td style="background-color: skyblue;"> Select Supplier  </td>
                <td>
                    <select style="height: 30px;">
                        <option>All  Supplier</option>
                        <option>Eagle Distillery</option>
                        <option>BRK Spirits</option>
                    </select>
                </td>
              </tr>
              <tr>
                 
                <td >
                    <button type="button" class="btn btn-info">View</button>
                      </td>
              </tr>
              
             
             
            </tbody>
          </table>
    </div>
      <div class="col-12">
          
        
      
        
        
    </div>

    
</div>













 


