
<div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
            <form class="form-inline" action="/action_page.php">
                <label for="date">SelectMonth:</label>
                <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;
                <label for="date">AllDepots :</label>
                <select style="height: 30px;">
                    <option>All  Depots</option>
                    <option>Eagle Distillery</option>
                    <option>BRK Spirits</option>
                </select>&nbsp;
                <label for="date">AllSuppliers :</label>
                <select style="height: 30px;">
                    <option>All Suppliers</option>
                    <option>Eagle Distillery</option>
                    <option>BRK Spirits</option>
                </select>&nbsp;
                <label for="date">Penality:</label>
                <select style="height: 30px;">
                    <option>5 Rs </option>
                    <option>Eagle Distillery</option>
                    <option>BRK Spirits</option>
                </select>&nbsp;
                <i class="fa fa-search" aria-hidden="true" ></i>&nbsp;&nbsp;
                <i class="fa fa-print" aria-hidden="true" style="color: white;"></i>&nbsp;
                
               
               
            </form>
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                   
                </div>
            </div>
            <p></p>
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Product Code</th>
                <th>Received  Qty</th>
                <th>Sales  Qty</th>
                <th> IDT Qty </th>
                <th> Sediment Qty</th>
                <th>Remaining Qty  </th>
                <th>Penalty  Amount</th>
                
               
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Grand Total </td>
                <td></td>
                <td></td>
                <td></td>
                <td>0</td>
                <td></td>
                <td></td>
                
               
               
              </tr>
             
             
            </tbody>
          </table>
    </div>
      <div class="col-12">
          
        
     
        
        
    </div>

    
</div>


<div style="float: right;">
  <button>Previous</button>
  <button>Next</button>
</div>












 


