<div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
            <form class="form-inline" action="/action_page.php">
                <label for="date">Start Date :</label>
                <input type="date" class="form-control" placeholder="" id="email">&nbsp;
                <label for="pwd">End Date:</label>
                <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;
                <select style="height: 30px;">
                    <option>Select  Supplier</option>
                    <option>Eagle Distillery</option>
                    <option>BRK Spirits</option>
                </select>&nbsp;
                <i class="fa fa-search" aria-hidden="true" ></i>
                <i class="fa fa-print" aria-hidden="true" style="color: white;"></i>&nbsp;
                <i class="fa fa-file-pdf-o" aria-hidden="true" style="color: white;"></i>&nbsp;
                <label for="pwd">Process Date</label>
                <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;&nbsp;
                <i class="fa fa-print" aria-hidden="true" style="color: white;"></i>
               
               
            </form>
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                    <select>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
                    </select>
                    <input type="text" class=" dd search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <p></p>
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>S.no</th>
                <th>Supplier Name</th>
                <th>Quantity </th>
                <th> Quantity Part </th>
                <th> Total</th>
                <th>Process Fee</th>
                <th> GRN Process Fee </th>
                <th>Payment Claim Process Fee </th>
                <th> Penality  </th>
                <th> Automatic Deducation</th>
                <th>Addition </th>
                <th> Deducation  </th>
                <th> Net Amount</th>
                <th>Process Date </th>
                <th> Discount </th>
                <th>From Date </th>
               
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>No data avalible</td>
                
               
              </tr>
             
             
            </tbody>
          </table>
    </div>
        
        
    </div>

    
</div>

<div style="float: right;">
  <button>Previous</button>
  <button>Next</button>
</div>












 


