<p style="font-weight: 600;" *ngIf="isAddPermission"><img src="https://img.icons8.com/color/48/000000/plus--v1.png" style="cursor: pointer;" width="15" height="15" (click)="purchaseIndent()" > HEAL Purchase Indent  </p>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div>
        <label for="">
            First date : 
            <input type="date" class="date">
        </label>
        <label for="" id="endDate" >
            End Date : 
            <input type="date" class="date">
        </label>
       
    </div>

</nav>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div style="margin-top: -5rem;" >
        <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
        </select>
        <label for="" id="search">
            Search :
            <input type="search">
        </label>
    </div>
</nav>
<table class="table table-striped">
    <thead>
        <th>Referrence No</th>
        <th>Excise Lab</th>
        <th>Date</th>
        <th>Sample Type</th>
        <th>Status</th>
    </thead>
    <tr>
        <td>12345</td>
        <td>Excise Lab 03, Guntur</td>
        <td>23-2-2018</td>
        <td>Blend</td>
        <td><img src="https://img.icons8.com/plasticine/15/000000/circled-dot.png" (click)="indentFormEvent()" style="cursor: pointer;"></td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Excise Lab 03, Guntur</td>
        <td>23-2-2018</td>
        <td>Blend</td>
        <td><img src="https://img.icons8.com/plasticine/15/000000/circled-dot.png" (click)="indentFormForwarded()" style="cursor: pointer;"></td>
    </tr>
</table  >
<div>
    <p id="next" >
<button class="btn btn-success" style="border-radius: 37px;margin-right: 1rem;"  >Previous</button>     
<button class="btn btn-success" style="border-radius: 37px;padding-right: 21px;padding-left: 21px;">Next</button>
</p>
</div>