<nav style="    background: rgb(45,79,107);
padding: 6px;">
&nbsp;&nbsp;<label>Select Excise Code:</label>
    <select name="" id="">
        <option value="">Guntur Depot I</option>
    </select>
</nav>
<nav style="    background: rgb(45,79,107);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
    <label for="" style="color: white;
    margin-left: 38rem;">
        Search :
        <input type="search">
    </label>
</nav>
<div>
    <table class="table table-striped">
        <tr>
            <th>Retailer Name</th>
            <th>Retailer Code</th>
            <th>Retailer Type</th>
            <th>Licensee Type</th>
            <th>Status</th>

        </tr>
        <tr>
            <td>No Data Available</td>
            <td></td>
        </tr>
    </table>
</div>


<div style="float: right;">
    <button>Previous</button>
    <button style="margin-left: 26px;
    width: 83px;">Next</button>
</div>