<div *ngIf="hasIndentMgmtPerm">
  <section class="content-header">
    <div class="header-icon">
      <i class="fa fa-indent"></i>
    </div>
    <div class="header-title">
      <h1>Indent</h1>
      <small>Detailed of Indents Modules</small>
    </div>
  </section>
  <section class="content">
    <div class="row">
      <!-- first one starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2"  *ngxPermissionsOnly="['home/module/indent/active']">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/module/indent/active'" [routerLink]="['../module/indent/active']">
              <i class="fa fa-indent fa-2x"></i>
              <h3> Active Indents</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- first one ends-->
      <!-- second starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" *ngxPermissionsOnly="['home/module/indent/old']">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/module/indent/old'" [routerLink]="['../module/indent/old']">
              <i class="fa fa-indent fa-2x"></i>
              <h3>Old Indents</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- second ends-->
      <!-- three starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" *ngIf="hasCreateIndentPer">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/module/indent/create'" [routerLink]="['../module/indent/create']">
              <i class="fa fa-indent fa-2x"></i>
              
              <h3>Create Indent</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- three ends-->
      <!-- four starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" *ngxPermissionsOnly="['home/indent-management/aged-challans']">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/indent-management/aged-challans'" [routerLink]="['../indent-management/aged-challans']">
              <p></p>
              <i class="fa fa-indent fa-2x"></i>
              
              <h3>Aged Challans</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- four ends-->
      <!-- five starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" *ngxPermissionsOnly="['home/indent-management/cancelled-idc']">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/indent-management/cancelled-idc'" [routerLink]="['../indent-management/cancelled-idc']">
              <i class="fa fa-indent fa-2x"></i>
              
              <h3>Cancelled Icdc</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- five ends-->
      <!-- six starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" *ngxPermissionsOnly="['home/indent-management/challan-status']">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/indent-management/challan-status'" [routerLink]="['../indent-management/challan-status']">
              <i class="fa fa-indent fa-2x"></i>
              
              <h3>Challans Status</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- six ends-->
      <!-- seven starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2"
        *ngxPermissionsOnly="['home/indent-management/distillery-indent']">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/indent-management/distillery-indent'" [routerLink]="['../indent-management/distillery-indent']">
              <i class="fa fa-indent fa-2x"></i>
              
              <h3>Distillery Indent</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- seven ends-->
      <!-- eight starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" *ngxPermissionsOnly="['home/indent-management/retailer-cards']">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/indent-management/retailer-cards'" [routerLink]="['../indent-management/retailer-cards']">
              <i class="fa fa-indent fa-2x"></i>
              
              <h3>Retailer Cards</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- eight ends-->
      <!-- nine starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" *ngxPermissionsOnly="['home/indent-management/special-indent']">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/indent-management/special-indent'" [routerLink]="['../indent-management/special-indent']">
              <i class="fa fa-indent fa-2x"></i>
              
              <h3>Special Indent</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- nine ends-->
      <!-- ten starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" *ngIf="hasUploadCardsPer">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/indent-management/upload-cards'" [routerLink]="['../indent-management/upload-cards']">
              <i class="fa fa-indent fa-2x"></i>
              
              <h3>Upload Cards</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- ten ends-->
      <!-- eleven starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2"
        *ngxPermissionsOnly="['home/indent-management/retailer-indent']">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/indent-management/aged-challans'" [routerLink]="['../module/indent/old']">
              <i class="fa fa-indent fa-2x"></i>
              
              <h3>Retailer Indent</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- eleven ends-->
      <!-- twelve starts-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" *ngxPermissionsOnly="['home/indent-management/special-ifs']">
        <div id="cardbox1">
          <div class="statistic-box">
            <a [appSubMenu]="'home/indent-management/special-ifs'" routerLink]="['../indent-management/special-ifs']">
              <i class="fa fa-indent fa-2x"></i>
              
              <h3>IFS</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- twelve ends-->
    </div>
  </section>
</div>
<div *ngIf="!hasIndentMgmtPerm">
  <app-no-privileges></app-no-privileges>
</div>