<nav>
    <label for="">
        Start Date :
        <input class="date" type="date">
    </label>
    <label for="" style="margin-left: 8px;">
        End Date :
        <input class="date" type="date">
    </label>
    
    <select name="" id="">
        <option value="">Select Depot</option>
    </select>
    <img src="https://img.icons8.com/pastel-glyph/10/000000/search--v2.png">
</nav>

<nav>
    <select name="" id="">
        <option value="">10</option>
    </select>
    <label for="" style="margin-left: 34rem;">
        Search :
        <input type="search" >
    </label>

</nav>



<table class="table table-striped">
    <tr style="background: #2bc0c7;">
        <th>S.No</th>
        <th>Depot Name</th>
        <th>Depot Code</th>
        <th>Retailer Name</th>
        <th>Retailer Code</th>
        <th>Retailer Loc Id</th>
        <th>txn Date</th>
        <th>Challan Number</th>
        <th>Challan Amount</th>
        <th>Sync</th>
        <th>Verified by</th>
    </tr>
    <tr>
       
        </tr>
        <tr>
            <td>1</td>
            <td>Excise Depot II</td>
            <td>94</td>
            <td>M/S Gudur Wines</td>
            <td>23434</td>
            <td>94463</td>
            <td>28-sept-2018</td>
            <td>45432646345</td>
            <td>10000</td>
            <td>true</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Excise Depot II</td>
                <td>94</td>
                <td>M/S Gudur Wines</td>
                <td>23434</td>
                <td>94463</td>
                <td>28-sept-2018</td>
                <td>45432646345</td>
                <td>10000</td>
                <td>true</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Excise Depot II</td>
                    <td>94</td>
                    <td>M/S Gudur Wines</td>
                    <td>23434</td>
                    <td>94463</td>
                    <td>28-sept-2018</td>
                    <td>45432646345</td>
                    <td>10000</td>
                    <td>true</td>
                    </tr>
</table>


<div style="float: right;">
    <button>Previous</button>
    <button style="margin-left: 11px;
    padding: 7px;
    width: 62px;">Next</button>
</div>