<label for="" style="margin-left: 24px;">
    Consignment Type : 
        <select name="" id="">
            <option value="">Select Consignment Type</option>
        </select>
</label>
<div>
    <label for="" style="margin-left: 114px;">Route :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left:84px">Vehicle No.
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 75px ;">
        Transporter :
        <input type="text">
    </label>

</div>
<div>
    <label for="" style="margin-left:116px">
        LR No.
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 99px;">
        LR Date :
        <input type="text">
    </label>
</div>
<button mat-dialog-close style="background-color: #2e5d74;margin-left: 177px;" (click)="adding()">Start Adding OFS</button>