<!-- <div class="col-md-12 gg">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <form class="form-inline" id="createProgramForm">

    <label for="program" class="mb-2 mr-sm-2">Distillery Percentage For Stable Eligibility:</label>
    <input type="text" class="form-control mb-2 mr-sm-2 programName" id="prg" placeholder="Enter Program"
      name="program" required>
     <button type="button" id="saveBtn" class="btn btn-primary mb-2">Save</button> -->


    

  <!-- </form>
  </div>
  <div class="col-md-3"></div>
</div>  -->
<body>
<p class="eli">IteamCode Mapping</p>
<div class="row">
  <div class="col-12  gg">
      <div class="well">
        
        <form class="form-inline">
          <div class="col-md-5 ">
          <label for="program" class="mb-2 mr-sm-4">ProductCode*</label>
          </div>
          <div class="col-md-7">
          <input type="text" class="form-control mb-2 mr-sm-8"  placeholder="Start Typing BrandCode"  name="program" >
          </div>

          <div class="col-md-5 ">
            <label for="program" class="mb-2 mr-sm-4">ProductName*</label>
            </div>
            <div class="col-md-7">
            <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
            </div>

            <div class="col-md-5 ">
              <label for="program" class="mb-2 mr-sm-4">Old IteamCode*</label>
              </div>
              <div class="col-md-7">
              <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
              </div>

              <div class="col-md-5 ">
                <label for="program" class="mb-2 mr-sm-4">Brand Number*</label>
                </div>
                <div class="col-md-7">
                <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                </div>

                <div class="col-md-5">
                  <label for="program" class="mb-2 mr-sm-4">SizeCode*</label>
                  </div>
                  <div class="col-md-7">
                  <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                  </div>

                  <div class="col-md-5">
                    <label for="program" class="mb-2 mr-sm-4">PackType*</label>
                    </div>
                    <div class="col-md-7">
                    <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                    </div>

                    <div class="col-md-5">
                      <label for="program" class="mb-2 mr-sm-4">Liquor Type*</label>
                      </div>
                      <div class="col-md-7">
                     <select class="form-control mb-2 mr-sm-8" style="width: 13rem;">
                         <option>-----Select-----</option>
                         <option>-----Select-----</option>
                         <option>-----Select-----</option>
                     </select>
                      </div>

                      <div class="col-md-5">
                        <label for="program" class="mb-2 mr-sm-4">Strength(Up in IMFL)*</label>
                        </div>
                        <div class="col-md-7">
                        <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                        </div>

                        <div class="col-md-5">
                          <label for="program" class="mb-2 mr-sm-4">Basic Price*</label>
                          </div>
                          <div class="col-md-7">
                          <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                          </div>
                          <div class="col-md-5">
                            <label for="program" class="mb-2 mr-sm-4">Import Fee/BL*</label>
                            </div>
                            <div class="col-md-7">
                            <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                            </div>
                            <div class="col-md-5">
                                <label for="program" class="mb-2 mr-sm-4">Export Fee/BL*</label>
                                </div>
                                <div class="col-md-7">
                                <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                                </div>
                                <div class="col-md-5">
                                    <label for="program" class="mb-2 mr-sm-4">Excise Duty CSD/BL*</label>
                                    </div>
                                    <div class="col-md-7">
                                    <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                                    </div>
                         <div class="col-md-5">
                          <label for="program" class="mb-2 mr-sm-4">Custom Duty*</label>
                          </div>
                          <div class="col-md-7">
                          <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                          </div>
                          <div class="col-md-5">
                            <label for="program" class="mb-2 mr-sm-4">New IteamCode*</label>
                            </div>
                            <div class="col-md-7">
                            <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                            </div>
                            <div class="col-md-5">
                                <label for="program" class="mb-2 mr-sm-4">State Levy Rule*</label>
                                </div>
                                <div class="col-md-7">
                               <select class="form-control mb-2 mr-sm-8" style="width: 13rem;">
                                   <option>-----Select-----</option>
                                   <option>-----Select-----</option>
                                   <option>-----Select-----</option>
                               </select>
                                </div>
                                <div class="col-md-5">
                                    <label for="program" class="mb-2 mr-sm-4">Effective Date*</label>
                                    </div>
                                    <div class="col-md-7">
                                    <input type="date" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                                    </div>   
                                    <br>

         
     <span style="margin-left: 25rem;color: white;">View Price</span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: white;">Apply Price</span>
          
          <!-- <button type="button" id="saveBtn" class="btn btn-primary mb-2">Save</button> -->
      
      
          
      
        </form>
      </div>
     
  </div>
</div>
</body>