<nav style="    background: rgb(45,79,107);
padding: 6px;" *ngIf="hasAddPer">

    <select name="" id="">
        <option value="">Select Depot</option>
    </select>
    <input type="text" style="    width: 26rem;
    margin-left: 3rem;">
    <button style="    background: #2bc0c7; margin-left: 27px;">Add</button>
    <button style="    background: #2bc0c7; margin-left: 27px;">Reset</button>
</nav>

<div>
    <table class="table table-striped">
        <tr>
            
            <th><input type="checkbox"></th>
            <th>Depot Name</th>
            <th>Retailer Name</th>
            <th>Debit/Credit</th>
            <th>Closing Balance</th>
            <th>Debited/credited(Amount)</th>
            <th>TCS</th>
            <th>Total Debited/Credited Amount</th>
            <th>Reason</th>
            <th>Present/Closing Balance</th>
            

        </tr>
        <tr>
            <td>No Data Available</td>
        </tr>
    </table>
</div>


<div style="float: right;">
    <button>Previous</button>
    <button style="margin-left: 26px;
    width: 83px;">Next</button>
</div>