<table>
    <tr>
        <th style="width: 600px;">Commission Amouunt</th>
        <th style="width: 600px;">Export Fee</th>
    </tr>
    <tr>
        <td>123</td>
        <td>0</td>
    </tr>
</table>
<div>
    <select name="" id="">
        <option value="">All</option>
    </select>
    <input type="search" style="margin-left: 63rem;
    margin-bottom: 5px;
    border-color: black;
    margin-top: 4px;">
</div>
<table>
    <tr>
        <th></th>
        <th>Transaction type</th>
        <th>Bank Name</th>
        <th>Date</th>
        <th>Challan No</th>
        <th>Credited Amount</th>
        <th>Balance</th>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>Commission</td>
        <td>Sbi</td>
        <td>27 Feb 17</td>
        <td>CH56</td>
        <td>50000</td>
        <td>4800.04</td>
    </tr>
</table>
<div style="margin-left: 65rem;">
    <button>Preview</button>
    <button>Next</button>
</div>
<button mat-dialog-close style="margin-left: 37rem;" (click)="submitted()">Save</button>