<h1>Recompute Price</h1>
<table class="table table-striped" style="background-color: rgb(216, 216, 224); font-weight: 600;">
    <tr>
        <td>Effective Date</td>
        <td><input type="date"></td>
    </tr>
    <tr style="background-color: white;">
        <td>Basic Price Type</td>
        <td><select name="" id="">
            <option value="">New Basic Price</option>
        </select></td>
    </tr>
    <tr>
        <td>Levy Type</td>
        <td><select name="" id="">
            <option value="">Select All</option>
        </select></td>
    </tr>
    <tr style="background-color: white;">
        <td></td>
        <td><button>Recompute</button></td>
    </tr>

</table>

<div style="    margin-left: 98rem;">
    <img src="https://img.icons8.com/dusk/40/000000/pdf.png">
    <img src="https://img.icons8.com/dusk/40/000000/pdf.png">
</div>