
 
<nav class="navbar navbar-expand-lg navbar navbar-dark ">
    <div style="margin-top: -5rem;" >
        <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
        </select>
        <label for="" id="search">
            Search :
            <input type="search">
        </label>
    </div>
</nav>

<div class="bs-example">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>OFS No</th>
                <th>Indent No</th>
                <th>Online OFS Ref No</th>
                <th>Depot</th>
                <th>Date</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>OFSAIA8362873874</td>
                <td>AIA64575674</td>
                <td>ORNAIA475747579</td>
                <td>Amaravathi(789)</td>
                <td>28-02-2020</td>
                <td><img src="https://img.icons8.com/color/20/000000/connection-status-on--v1.png" style="cursor: pointer;" (click)="status()"></td>


            </tr>
           
                     
        </tbody>
    </table>
</div>
<br><br>
<div id="button" style="float: right;">
    
    <button>previous</button>
    <button>Next</button>
</div> 