<div class="modal-header modal-header-primary">
  <h3 mat-dialog-header>Blend Request</h3>
  <button mat-dialog-close type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<!-- <div mat-dialog-content class="type" >
        <label for="">Sample Type*
            <select name="ENA" id="">
                <option value="">ENA</option>
            </select>
        </label>
    </div> -->

<!-- <div class="date">
        <label for="">Distiliery Name:
            <input type="date" style="height: 24px;" >
        </label>
    </div>
    <div style="margin-left: 19rem;">
        <label for="">Supplier Name:
        <textarea name="" id="" cols="30" rows="2"  ></textarea>
    </label>
    </div>
    <div style="margin-left: 22rem;">
        <label for="">Total Quantity:
        <textarea name="" id="" cols="30" rows="2"  ></textarea>
    </label>
    </div> -->
<div class="modal-body-cont">
  <div class="btn-group">
    <button class="btn btn-exp btn-sm" data-toggle="dropdown" aria-expanded="false"><i
        class="fa fa-bars"></i> CPE Apporved Form</button>
    <ul class="dropdown-menu exp-drop" role="menu">
      <li>
        <a href="#">
          <img src="../../../../assets/images/printer-door-open.png" width="24" alt="logo"> Print</a>
      </li>
      <li>
        <a href="#">
          <img src="../../../../assets/images/pdf.png" width="24" alt="logo"> PDF</a>
      </li>

    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <fieldset>
          <!-- <div mat-dialog-content class="type">
                  <label for="sampleType">Sample Type*
                    <select name="type" id="sampleType" formControlName="type">
                      <option value="">Select</option>
                      <option *ngFor="let sType of spiritList" [value]="sType.typeName">{{ sType.description }}</option>
                    </select>
                  </label>
                  <app-filed-error [errorList]="['required']" [control]="spiritRequestForm.get('type')"></app-filed-error>
                </div> -->
          <div class="col-md-6 form-group float-left">
            <label class="control-label w-100" for="sampleType">Distiliery Name:</label>
            <input type="text" placeholder="Customer Name" class="form-control">
          </div>
          <div class="col-md-6 form-group float-left">
            <label class="control-label">Supplier Name:</label>
            <input type="text" id="date" formControlName="" class="form-control">
          </div>
          <div class="col-md-6 form-group float-left">
            <label class="control-label" for="subject">Total Quantity:*</label>
            <input type="text" id="date" formControlName="" class="form-control">
          </div>
          <div class="col-md-6 form-group float-left">
            <label class="control-label" for="refNum">Allocated Qty:</label>
            <input type="text" id="date" formControlName="" class="form-control">
          </div>
          <div class="col-md-6 form-group float-left">
            <label class="control-label" for="refDate">Requeste Qty:</label>
            <input class="form-control" type="date" id="refDate" formControlName="refDate">
          </div>
          <div class="col-md-6 form-group float-left">
            <label class="control-label" for="allotedQuota">Apporved By:</label>
            <input class="form-control" type="date" id="refDate" formControlName="refDate">
          </div>
          <div class="col-md-12 form-group user-form-group float-left">
            <div class="pull-right">
              <button type="submit" class="btn btn-add btn-sm" (click)="save()">Save</button>
              <button mat-dialog-close type="button" class="btn btn-danger btn-sm">Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button mat-dialog-close type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
</div>









<!-- <button style="background-color: rgb(49, 128, 124);width: 100px;border-radius: 7px;margin-left: 18.5rem;"  (click)="save()" >Save</button>
            <button mat-dialog-close style="background-color: rgb(49, 128, 124);width: 100px;border-radius: 7px;margin-left: 0.5rem;"   >Cancel</button>
         -->
