<h1>The Excise duty of amount : 3402 is supposed to credit</h1>
<table>
    <tr>
        <th style="padding-right: 30px;">

        </th>
        <th>Challan No.</th>
        <th>Balance Amount</th>
        <th>Paid Amount (Total)</th>
        <th>Paid Amount against TP</th>
        <th>status</th>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>Ch0011</td>
        <td>3196.00</td>
        <td>3198.00</td>
        <td>325.00</td>
        <td>Active</td>
    </tr>
</table>
<div>
    <button mat-dialog-close>save</button>
</div>