<button>EVC FORM <img src="https://img.icons8.com/officel/20/000000/pdf.png"><img src="https://img.icons8.com/ios/20/000000/printer-door-open.png"></button>
<table>
    <tr>
        <th>Brand Name</th>
        <th>Size (ml)</th>
        <th>Shipment Qty</th>
        <th>Recieved Qty (cases)</th>
        <th>Recieved Qty (bottles)</th>
        <th>Breakage Qty(bottles)</th>
        <th>Breakage Qty(cases)</th>
    </tr>
    <tr>
        <td>Seagrams Royal stag Blended Whisky</td>
        <td>375</td>
        <td>160</td>
        <td>150</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        
    </tr>
</table>