<div style="background: rgb(45,79,107); margin-bottom: 33px;padding: 10px;">
    <select name="" id="" style="margin-left: 22rem;height: 29px;">
        <option value="">All</option>
    </select>
    <input type="search" style="width: 12rem;">
    <button><img src="https://img.icons8.com/pastel-glyph/20/000000/search--v2.png"></button>
</div>

<ngb-carousel>
    <ng-template ngbSlide>
      <div class="carousel-header">
        <h3>WINE 01</h3>
        <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
      <div class="picsum-img-wrapper">
          <ul>
            <li class="card item"> <a href="" >
              <p class="card-label"><img  src="../../assets/img/wine1.jpg" style="height: 150px;" > </p>
              <p class="card-label">Red Wine </p>
              <p class="card-label"><sub>100$</sub> </p></a> </li>
              <li class="card item"> <a href="" >
                <p class="card-label"><img  src="../../assets/img/wine2.jpg" style="height: 150px;" > </p>
                <p class="card-label">Red Wine </p>
                <p class="card-label"><sub>100$</sub> </p></a> </li>
                <li class="card item"> <a href="" >
                  <p class="card-label"><img  src="../../assets/img/wine3.jpg" style="height: 150px;" > </p>
                  <p class="card-label">Red Wine </p>
                  <p class="card-label"><sub>100$</sub> </p></a> </li>
                  <li class="card item"> <a href="" >
                    <p class="card-label"><img  src="../../assets/img/wine4.jpg" style="height: 150px;" > </p>
                    <p class="card-label">Red Wine </p>
                    <p class="card-label"><sub>100$</sub> </p></a> </li>
                    
            <!-- <li><a href=""><img  src="../../assets/img/wine2.jpg" style="height: 150px;" > Quest <sub>100$</sub> </a></li> -->
            <!-- <li><a href=""><img  src="../../assets/img/wine3.jpg" style="height: 150px;"> Red Wine <sub>100$</sub> </a></li> -->
            <!-- <li><a href=""><img  src="../../assets/img/wine4.jpg" style="height: 150px;" >FRE <sub>100$</sub> </a></li> -->
            <!-- <li><a href=""><img  src="../../assets/img/wine1.jpg" style="height: 150px;" >Aristo <sub>100$</sub> </a></li> -->
            <!-- <li><a href=""><img  src="../../assets/img/wine.jpg" style="height: 150px;" ></a></li>
            <li><a href=""><img  src="../../assets/img/wisky.jpg" style="height: 150px;"></a></li> -->
            
    </ul>
      </div>
      
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-header">
        <h3>WINE 02</h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
      <div class="picsum-img-wrapper">
        <ul>
            
          <li class="card item"> <a href="" >
            <p class="card-label"><img  src="../../assets/img/wine5.jpg" style="height: 150px;" > </p>
            <p class="card-label">Red Wine </p>
            <p class="card-label"><sub>200$</sub> </p></a> </li>
            <li class="card item"> <a href="" >
              <p class="card-label"><img  src="../../assets/img/wine6.jpg" style="height: 150px;" > </p>
              <p class="card-label">Red Wine </p>
              <p class="card-label"><sub>200$</sub> </p></a> </li>
              <li class="card item"> <a href="" >
                <p class="card-label"><img  src="../../assets/img/wine7.jpg" style="height: 150px;" > </p>
                <p class="card-label">Red Wine </p>
                <p class="card-label"><sub>200$</sub> </p></a> </li>
                <li class="card item"> <a href="" >
                  <p class="card-label"><img  src="../../assets/img/wine8.jpg" style="height: 150px;" > </p>
                  <p class="card-label">Red Wine </p>
                  <p class="card-label"><sub>200$</sub> </p></a> </li>
          <!-- <li><a href=""><img  src="../../assets/img/wine.jpg" style="height: 150px;" ></a></li>
          <li><a href=""><img  src="../../assets/img/wisky.jpg" style="height: 150px;"></a></li> -->
        </ul>
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-header">
        <h3>WINE 03</h3>
        <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
      <div class="picsum-img-wrapper">
        <ul >
            
          <li class="card item"> <a href="" >
            <p class="card-label"><img  src="../../assets/img/wine9.jpg" style="height: 150px;" > </p>
            <p class="card-label">Red Wine </p>
            <p class="card-label"><sub>300$</sub> </p></a> </li>
            <li class="card item"> <a href="" >
              <p class="card-label"><img  src="../../assets/img/wine10.jpg" style="height: 150px;" > </p>
              <p class="card-label">Red Wine </p>
              <p class="card-label"><sub>300$</sub> </p></a> </li>
              <li class="card item"> <a href="" >
                <p class="card-label"><img  src="../../assets/img/wine11.jpg" style="height: 150px;" > </p>
                <p class="card-label">Red Wine </p>
                <p class="card-label"><sub>300$</sub> </p></a> </li>
                <li class="card item"> <a href="" >
                  <p class="card-label"><img  src="../../assets/img/wine12.jpg" style="height: 150px;" > </p>
                  <p class="card-label">Red Wine </p>
                  <p class="card-label"><sub>300$</sub> </p></a> </li>
          <!-- <li><a href=""><img  src="../../assets/img/wine.jpg" style="height: 150px;" ></a></li>
          <li><a href=""><img  src="../../assets/img/wisky.jpg" style="height: 150px;"></a></li> -->
        </ul>
      </div>

    </ng-template>
  </ngb-carousel>

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="carousel-header">
        <h3>Beer 01</h3>
        <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
      <div class="picsum-img-wrapper">
          <ul>
            <li class="card item"> <a href="" >
              <p class="card-label"><img  src="../../assets/img/beer1.jpg" style="height: 150px;" > </p>
              <p class="card-label">Beer </p>
              <p class="card-label"><sub>100$</sub> </p></a> </li>
              <li class="card item"> <a href="" >
                <p class="card-label"><img  src="../../assets/img/beer5.jpg" style="height: 150px;" > </p>
                <p class="card-label">Beer  </p>
                <p class="card-label"><sub>100$</sub> </p></a> </li>
                <li class="card item"> <a href="" >
                  <p class="card-label"><img  src="../../assets/img/beer3.jpg" style="height: 150px;" > </p>
                  <p class="card-label">Beer  </p>
                  <p class="card-label"><sub>100$</sub> </p></a> </li>
                  <li class="card item"> <a href="" >
                    <p class="card-label"><img  src="../../assets/img/beer4.jpg" style="height: 150px;" > </p>
                    <p class="card-label"> Beer </p>
                    <p class="card-label"><sub>100$</sub> </p></a> </li>
            <!-- <li><a href=""><img  src="../../assets/img/wine.jpg" style="height: 150px;" ></a></li>
            <li><a href=""><img  src="../../assets/img/wisky.jpg" style="height: 150px;"></a></li> -->
    </ul>
      </div>
     
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-header">
        <h3>Beer 02</h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
      <div class="picsum-img-wrapper">
        <ul>
          <li class="card item"> <a href="" >
            <p class="card-label"><img  src="../../assets/img/beer5.jpg" style="height: 150px;" > </p>
            <p class="card-label">Beer  </p>
            <p class="card-label"><sub>100$</sub> </p></a> </li>
            <li class="card item"> <a href="" >
              <p class="card-label"><img  src="../../assets/img/beer6.jpg" style="height: 150px;" > </p>
              <p class="card-label">Beer  </p>
              <p class="card-label"><sub>100$</sub> </p></a> </li>
              <li class="card item"> <a href="" >
                <p class="card-label"><img  src="../../assets/img/beer7.jpg" style="height: 150px;" > </p>
                <p class="card-label">Beer  </p>
                <p class="card-label"><sub>100$</sub> </p></a> </li>
                <li class="card item"> <a href="" >
                  <p class="card-label"><img  src="../../assets/img/beer8.jpg" style="height: 150px;" > </p>
                  <p class="card-label">Beer  </p>
                  <p class="card-label"><sub>100$</sub> </p></a> </li>
          <!-- <li><a href=""><img  src="../../assets/img/wine.jpg" style="height: 150px;" ></a></li>
          <li><a href=""><img  src="../../assets/img/wisky.jpg" style="height: 150px;"></a></li> -->
        </ul>
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-header">
        <h3>Beer 03</h3>
        <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
      <div class="picsum-img-wrapper">
        <ul>
          <li class="card item"> <a href="" >
            <p class="card-label"><img  src="../../assets/img/beer1.jpg" style="height: 150px;" > </p>
            <p class="card-label">Beer </p>
            <p class="card-label"><sub>100$</sub> </p></a> </li>
            <li class="card item"> <a href="" >
              <p class="card-label"><img  src="../../assets/img/beer5.jpg" style="height: 150px;" > </p>
              <p class="card-label">Beer  </p>
              <p class="card-label"><sub>100$</sub> </p></a> </li>
              <li class="card item"> <a href="" >
                <p class="card-label"><img  src="../../assets/img/beer3.jpg" style="height: 150px;" > </p>
                <p class="card-label">Beer  </p>
                <p class="card-label"><sub>100$</sub> </p></a> </li>
                <li class="card item"> <a href="" >
                  <p class="card-label"><img  src="../../assets/img/beer4.jpg" style="height: 150px;" > </p>
                  <p class="card-label"> Beer </p>
                  <p class="card-label"><sub>100$</sub> </p></a> </li>
            <!-- <li><a href=""><img  src="../../assets/img/wine.jpg" style="height: 150px;" ></a></li>
            <li><a href=""><img  src="../../assets/img/wisky.jpg" style="height: 150px;"></a></li>  -->
            
        </ul>
      </div>
     
    </ng-template>
  </ngb-carousel>
  

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="carousel-header">
        <h3>Whisky 01</h3>
        <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
      <div class="picsum-img-wrapper">
          <ul>
            <li class="card item"> <a href="" >
              <p class="card-label"><img  src="../../assets/img/whisky1.jpg" style="height: 150px;" > </p>
              <p class="card-label">Whisky  </p>
              <p class="card-label"><sub>100$</sub> </p></a> </li>
              <li class="card item"> <a href="" >
                <p class="card-label"><img  src="../../assets/img/whisky2.jpg" style="height: 150px;" > </p>
                <p class="card-label"> Whisky </p>
                <p class="card-label"><sub>100$</sub> </p></a> </li>
                <li class="card item"> <a href="" >
                  <p class="card-label"><img  src="../../assets/img/whisky3.jpg" style="height: 150px;" > </p>
                  <p class="card-label"> Whisky </p>
                  <p class="card-label"><sub>100$</sub> </p></a> </li>
                  <li class="card item"> <a href="" >
                    <p class="card-label"><img  src="../../assets/img/whisky4.jpg" style="height: 150px;" > </p>
                    <p class="card-label">Whisky  </p>
                    <p class="card-label"><sub>100$</sub> </p></a> </li>
            <!-- <li><a href=""><img  src="../../assets/img/wine.jpg" style="height: 150px;" ></a></li>
            <li><a href=""><img  src="../../assets/img/wisky.jpg" style="height: 150px;"></a></li> -->
    </ul>
      </div>
     
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-header">
        <h3>Whisky 02</h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
      <div class="picsum-img-wrapper">
        <ul>
          <li class="card item"> <a href="" >
            <p class="card-label"><img  src="../../assets/img/whisky5.jpg" style="height: 150px;" > </p>
            <p class="card-label">Whisky  </p>
            <p class="card-label"><sub>100$</sub> </p></a> </li>
            <li class="card item"> <a href="" >
              <p class="card-label"><img  src="../../assets/img/whisky6.jpg" style="height: 150px;" > </p>
              <p class="card-label"> Whisky </p>
              <p class="card-label"><sub>100$</sub> </p></a> </li>
              <li class="card item"> <a href="" >
                <p class="card-label"><img  src="../../assets/img/whisky7.jpg" style="height: 150px;" > </p>
                <p class="card-label"> Whisky </p>
                <p class="card-label"><sub>100$</sub> </p></a> </li>
                <li class="card item"> <a href="" >
                  <p class="card-label"><img  src="../../assets/img/whisky8.jpg" style="height: 150px;" > </p>
                  <p class="card-label">Whisky  </p>
                  <p class="card-label"><sub>100$</sub> </p></a> </li>
          <!-- <li><a href=""><img  src="../../assets/img/wine.jpg" style="height: 150px;" ></a></li>
          <li><a href=""><img  src="../../assets/img/wisky.jpg" style="height: 150px;"></a></li> -->
        </ul>
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-header">
        <h3>Whisky 03</h3>
        <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
      <div class="picsum-img-wrapper">
        <ul>
          <li class="card item"> <a href="" >
            <p class="card-label"><img  src="../../assets/img/whisky9.jpg" style="height: 150px;" > </p>
            <p class="card-label">Whisky  </p>
            <p class="card-label"><sub>100$</sub> </p></a> </li>
            <li class="card item"> <a href="" >
              <p class="card-label"><img  src="../../assets/img/whisky10.jpg" style="height: 150px;" > </p>
              <p class="card-label"> Whisky </p>
              <p class="card-label"><sub>100$</sub> </p></a> </li>
              <li class="card item"> <a href="" >
                <p class="card-label"><img  src="../../assets/img/whisky11.jpg" style="height: 150px;" > </p>
                <p class="card-label"> Whisky </p>
                <p class="card-label"><sub>100$</sub> </p></a> </li>
                <li class="card item"> <a href="" >
                  <p class="card-label"><img  src="../../assets/img/whisky1.jpg" style="height: 150px;" > </p>
                  <p class="card-label">Whisky  </p>
                  <p class="card-label"><sub>100$</sub> </p></a> </li>
            <!-- <li><a href=""><img  src="../../assets/img/wine.jpg" style="height: 150px;" ></a></li>
            <li><a href=""><img  src="../../assets/img/wisky.jpg" style="height: 150px;"></a></li>  -->
            
        </ul>
      </div>
     
    </ng-template>
  </ngb-carousel>
  
  