
h1{
    font-size: 1.5rem;
    text-align: center;
    background-color: #2e5d74!important;
    color: white;
    height: 2.2rem;
}
  label{
    margin-left: 15rem;
    font-weight: 500;
}
/* select{
    margin-left: 15rem;
} */

/*
.challanNo{
    margin-left:15rem;
} */
/*
select{
    padding-right: 5rem;
}
.refNo{
    margin-left: 22rem;
}
label{
    font-weight: 600;
}
.date{
    margin-left: 23rem;
}
input{
    border-radius: 2.5px;
} */
