<table class="table table-striped" >
    <thead style="background: seagreen; color: white;">
        <th>Product type</th>
        <th>Brand Name</th>
        <th>Heal Start Code</th>
        <th>Product</th>
        <th>Pack Type</th>
        <th>Units per Case</th>
        <th>MRP</th>
        <th>Batch No</th>
    </thead>
    <tr>
        <td>Local</td>
        <td>Seagram's Imperial Blue Classic Grain Whisky </td>
        <td>1223534</td>
        <td>343t4342tf</td>
        <td>Glass</td>
        <td>12</td>
        <td>450.00</td>
        <td>BN0222</td>
    </tr>
</table>
<button style="background: seagreen; color:white">Start Production</button>