<div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
            <form class="form-inline" action="/action_page.php">
                <label for="date">Start Date :</label>
                <input type="date" class="form-control" placeholder="" id="email">&nbsp;
                <label for="pwd">End Date:</label>
                <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;
               &nbsp;
                <i class="fa fa-search" aria-hidden="true" ></i>
              
               
               
            </form>
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                    <select>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
                    </select>
                    <input type="text" class=" dd search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <p></p>
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Consignment No</th>
                <th>Indent No</th>
                <th>Depot </th>
                <th> Created On </th>
                <th> Apporved On</th>
                <th>Status Fee</th>
                
               
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>No data avalible</td>
                
               
              </tr>
             
             
            </tbody>
          </table>
    </div>
      <div class="col-12">
        <p *ngIf="hasAddIfsPer"> <img src="https://img.icons8.com/flat_round/20/000000/plus.png" style="cursor: pointer;" (click)="sampleFormWindow()"> IFS </p>
        
      <span class="but">  <button type="button" class="btn btn-info">Pervious</button>&nbsp;
        <button type="button" class="btn btn-info">Next</button></span>
        
        
    </div>

    
</div>













 


