<nav class="navbar navbar-expand-lg navbar navbar-dark ">
    <div >
        
        <label for="">
            Start Date 
            <input type="date">
        </label>
        <label for="">End Date
            <input type="date">
        </label>
        <select name="" id="">Select Distellary
            <option value="">Select Distellary</option>
        </select>
        
    </div>
</nav>

<div class="bs-example">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S No.</th>
                <th>Consignment Type</th>
                <th>Import Indent Number</th>
                <th>Export Indent Number</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Export Permit No</th>
                <th>Date</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>No data available</td>
                
                
                


            </tr>
                        
        </tbody>
    </table>
</div>

<p> <img src="https://img.icons8.com/flat_round/20/000000/plus.png" style="cursor: pointer;" (click)="export()"> Add Challan</p>

<div id="button">
    
    <button>previous</button>
    <button>Next</button>
</div> 