<h1 mat-dialog-header style="background-color: #2e5d74;">Route Information</h1>
<div>
    <label for="" style="margin-left: 6rem;">
        Route Name: 
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 129px;">
            Source :
           <select style="width: 190px;height: 30px;">
               <option></option>
               <option></option>
               <option></option>
           </select>
    </label>
</div>
<div>
    <label for="" style="margin-left: 74px;">Route Via WP1 :
        <input type="text">
    </label>
</div>


<div>
    <label for="" style="margin-left:96px">
        Destination :
        <select style="width: 190px;height: 30px;">
            <option></option>
            <option></option>
            <option></option>
        </select>
    </label>
</div>
<div style="margin-left: 194px;">
    <button mat-dialog-close style="background-color: #2e5d74;color: white;" (click)="save()">Save</button>
    <button mat-dialog-close style="background-color: #2e5d74;color: white;">Cancel</button>
</div>