<nav class="navbar navbar-expand-lg navbar navbar-dark ">
    <div >
       
        
    </div>
</nav>

<div class="bs-example">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Segment  </th>
                <th>Units Per  Case</th>
                <th>Size Code</th>
                <th>Brand Barcode</th>
                <th>IteamCode   </th>
                
                
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text">  </td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
                <td><input type="text">  </td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
               
                

            </tr>
            <tr>
                <td>15645865456  </td>
                <td>Blend Whisky</td>
                <td>W</td>
                <td>43 </td>
                <td>NN</td>
                <td>Add </td>
                <td>Add </td>
                

            </tr>
            <tr>
                <td>15645865456  </td>
                <td>Blend Whisky</td>
                <td>W</td>
                <td>43 </td>
                <td>NN</td>
                <td>Add </td>
                <td>Add </td>
                

            </tr>
                        
        </tbody>
    </table>
    
</div>
<div id="button" style="float: right;">
    
    <button>previous</button>
    <button>Next</button>
</div> 



