<h1>Indent for Supply Information</h1>



<div>
    
    <label for="" style="margin-left: 500px;">
        To Depot* :
        <input type="text">
    </label>
    <br>
</div>
<div>
    <table>
        <tr>
            <th><input type="checkbox"></th>
            <th>Product Code</th>
            <th>Brand Name</th>
            <th>Size (in ml)</th>
            <th>Quantity (in cases) </th>
            <th>Rate in Rs Per case F.O.R destination </th>
            <th>Value(RS)  </th>
            

        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text" style="width: 100%;"></td>
            <td><input type="text"></td>
            
        </tr>
    </table>
</div>
<br>
<div>
    <button>New Row</button>
    <button>Remove Row</button>
    <button mat-dialog-close style="margin-left: 45rem;"  (click)="save()">Save</button>
    <button mat-dialog-close>Cancel</button>
</div>