<table>
    <thead>
        <th><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [routerLink]="['../export/export-export']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/image/14.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Exports</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [routerLink]="['../export/add-challan']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/image/14.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Add Challan</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        


    </thead>
</table>






























<!-- <div class="container-fliud">
    <div class="row background">
      <div class="col">
         
      </div>
      <div class="col-12 text-right col-lg-4">
             
      </div>
  </div>
  <div class="row" id="wrapper">
    
    <div class="col-10" style="padding-top: 1%;">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../export/export-export']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="https://img.icons8.com/ultraviolet/40/000000/robot.png">
                            </div>
                            <div class="col-9">
                                <h3>Export</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../export/add-challan']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="https://img.icons8.com/ultraviolet/40/000000/robot.png">
                            </div>
                            <div class="col-9">
                                <h3>Add Challan</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../shipment/shipt-tp-vehicle-accident']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="https://img.icons8.com/ultraviolet/40/000000/robot.png">
                            </div>
                            <div class="col-9">
                                <h3>TP Vehicle Accident </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            

            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../shipment/shipment-router']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="https://img.icons8.com/ultraviolet/40/000000/robot.png">
                            </div>
                            <div class="col-9">
                                <h3>Route </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
            
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../shipment/shipment-tp-revalidation']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="https://img.icons8.com/ultraviolet/40/000000/robot.png">
                            </div>
                            <div class="col-9">
                                <h3>TP Revalidation</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>  -->
            <!-- <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../home']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/img/12.png" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Alerts</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
            <!-- <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../home']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/img/18.png" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Feedback</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
        <!-- </div>
    </div>
  </div> -->
  <!-- <div class="row background">
    <div class="col-12">
        <h6>Excise Department,Andhra Pradesh,India</h6>
    </div>
  </div> -->
  <!-- </div> -->








 
