<section class="content-header">
  <div class="header-icon">
    <i class="fa fa-flask"></i>
  </div>
  <div class="header-title">
    <h1>HEAL Daily Indent</h1>
    <small>Detailed of HEAL</small>
  </div>
  <p *ngIf="isAddPermission" style="font-weight: 500;"><img src="https://img.icons8.com/color/48/000000/plus--v1.png"
      style="cursor: pointer;" width="15" height="15" (click)="dailyIndent()"> HEAL Daily Indent </p>
  <div>
    <label for="">
      First date :
      <input type="date" class="date">
    </label>
    <label for="" id="endDate">
      End Date :
      <input type="date" class="date">
    </label>

  </div>

</section>
<!-- Content Wrapper. Contains page content -->
<section class="content cmn-all">
  <div class="row">
    <div class="panel panel-bd lobipanel lobidrag">
      <div class="panel-body">
        <div class="buttonexport">
          <a (click)="dailyIndent()" class="btn btn-add"> <i class="fa fa-plus"></i>
            Sample</a>
        </div>
        <div class="colxs-12 col-md-8 pl-0 float-left form-group" [formGroup]="labSampleListForm">
          <label class="col-sm-3 pl-0 control-label" for="startDate">Start Date :</label>
          <div class="col-sm-4 float-left">
            <input class="form-control" placeholder="Start Date..." type="date" id="startDate"
              formControlName="startDate" (change)="validateDate()">
          </div>
          <label class="col-sm-3 pr-0 control-label" for="endDate">End Date :</label>
          <div class="col-sm-4 float-left">
            <input class="form-control w-100" placeholder="End Date..." type="date" id="endDate"
              formControlName="endDate" (change)="validateDate()">
          </div>
        </div>
        <div class="col-xs-12 col-md-4 pl-0 float-left form-group">
          <div class="col-sm-2 pl-0 float-left">
            <select name="" id="">
              <option value="">1</option>
              <option value="">2</option>
            </select>
          </div>
          <label class="col-sm-3 pr-0 control-label" for="search">Search :</label>
          <div class="col-sm-7 pr-0">
            <input class="form-control" type="search" [(ngModel)]="searchParam" name="searchParam" type="text"
              placeholder="Search" (ngModelChange)="searchRecords()">
          </div>
        </div>
        <div class="table-responsive lab-reports">
          <table class="table table-striped table-bordered">
            <thead>
              <tr class="info">
                <th>Indent No</th>
                <th>Quantity</th>
                <th>Created On</th>
                <th>Purpose</th>
                <th>Inventory</th>
                <th>Print</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12345</td>
                <td>5000</td>
                <td>12-Feb-2018</td>
                <td>Local</td>
                <td></td>
                <td><img src="https://img.icons8.com/officel/20/000000/pdf.png"><img
                    src="https://img.icons8.com/metro/20/000000/printer-door-open.png"></td>
                <td><img src="https://img.icons8.com/plasticine/15/000000/circled-dot.png" (click)="indentFormEvent()"
                    style="cursor: pointer;"></td>
              </tr>
              <tr>
                <td>12345</td>
                <td>5000</td>
                <td>12-Feb-2018</td>
                <td>Local</td>
                <td><span (click)="checkInventory()" style="color: blue;cursor: pointer;">Check Inventory</span></td>
                <td><img src="https://img.icons8.com/officel/20/000000/pdf.png"><img
                    src="https://img.icons8.com/metro/20/000000/printer-door-open.png"></td>
                <td><img src="https://img.icons8.com/plasticine/15/000000/circled-dot.png" (click)="indentFormEvent()"
                    style="cursor: pointer;"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-right">
          <button class="btn btn-success" style="border-radius: 37px;margin-right: 1rem;"
            [ngClass]="{ disabled: pager.currentPage === 1 }" [disabled]="pager.currentPage === 1"
            (click)="setPage(pager.currentPage - 1)">Previous</button>
          <button class="btn btn-success" style="border-radius: 37px;padding-right: 21px;padding-left: 21px;"
            [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
            [disabled]="pager.currentPage === pager.totalPages" (click)="setPage(pager.currentPage + 1)">Next</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Wrapper. Contains page content -->
