<button style="border-radius:5px; 
border:none;
font-size:20px;
padding:0.3em 1em;
background-color:rgb(194, 224, 202);margin-bottom:0.5rem">Indent Form 
<img src="https://img.icons8.com/ios-filled/20/000000/printer-door-open.png"> <img src="https://img.icons8.com/officel/25/000000/pdf.png"></button>
<!-- <h1 mat-dialog-header >HEAL Purchase Indent</h1> -->

<div>
        <h1 mat-dialog-header>Request to Distellary Officer</h1>      
        Indent No <p style="border-style: ridge;" >12234dvfehfb234324rf</p>
        Challan No <p style="border-style: ridge;" >GH556</p>
        Challan Amount <p style="border-style: ridge;" >50,00,000</p>
        Purpose <p style="border-style: ridge;" >Local</p>
        Challan Date <p style="border-style: ridge;">23-Feb-2-17</p>
        Ordered City <p style="border-style: ridge;">20000</p>
</div>
<button class="btn btn-success" (click)="forwardButton()" >Forward</button>