<button style="background: #2e5d74;color: white;" >Order for Supply Form <img src="https://img.icons8.com/office/20/000000/pdf.png"></button>
<table style="border: 1px solid;border-color: black;">
    <tr style="background-color: #2e5d74; color: white;">
        <th>Brand Name</th>
        <th>Size</th>
        <th>OFS Quantity(in ml)</th>
        <th>Allocated Quantity(in cases)</th>
        <th>Balance Quantity(in cases)</th>
        <th>Rate per case</th>
        <th>value</th>
    </tr>
    <tr>
        <td>Seagram Fuel Vodka</td>
        <td>180</td>
        <td>10</td>
        <td>0</td>
        <td>10</td>
        <td>1089.00</td>
        <td>1089.00</td>
    </tr>
</table>