
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="col-12">
            <div class="row">
              <div class="col-1 text-center">
                <div class="navbar-header">
                  <button class="navbar-brand" (click)="toggleClick()" id="sidebar-toggle"><i class="fa fa-bars"></i></button>
                </div>
              </div>
              <div class="col-4 mr-auto">
                <input class="form-control" placeholder="search"/>
              </div>
              <div class="col-5 admin">
                <div class="row">
                  <div class="col-3 pl-1">
                    <i class="fa fa-bell"></i> &nbsp; &nbsp;&nbsp;
                    <i class="fa fa-bookmark"></i>
                  </div>
                <div class="col-3 pl-2 pr-2">
                  <img src="https://randomuser.me/api/portraits/men/10.jpg" style="height: 50px;" class="img-fluid"/>
                </div>
                
                <div class="col-6 pl-1">
                  <span>Admin <i class="fa fa-ellipsis-h float-right mt-3" aria-hidden="true"></i></span>
                </div>
              </div>
              </div>
            </div>
          </div>
         
  
        </div>
      </nav>
    