<nav style="    background: rgb(45,79,107);
padding: 6px;">
<label for="">
    Start Date :
    <input type="date">
</label>
<label for="">
    End Date:
    <input type="date">
</label>&nbsp;
    <select name="" id="">
        <option value="">Select Distillery</option>
    </select>
    &nbsp;
    <i class="fa fa-search" aria-hidden="true" ></i>
</nav>
<nav style="    background: rgb(45,79,107);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
    <label for="" style="color: white;
    margin-left: 38rem;">
        Search :
        <input type="search">
    </label>
</nav>
<div>
    <table class="table table-striped">
        <tr>
            <th><input type="checkbox"></th>
            <th>S.No</th>
            <th>IFS No</th>
            <th>Distillery</th>
            <th>Depot</th>
            <th>Date</th>
            <th>Status</th>

        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>AJA3435WE</td>
            <td>M/S Pernod India Private Limited</td>
            <td>Excise Depot Vizag II</td>
            <td>1-Aug-2017</td>
            <td><img src="https://img.icons8.com/color/20/000000/connection-status-on--v1.png"></td>
        </tr>
    </table>
</div>


<div style="float: right;">
    <button>Previous</button>
    <button style="margin-left: 26px;
    width: 83px;">Next</button>
</div>