
<p class="sup">Vehicle-Tracking-Route</p><br>
<div class="row">
  <div class="col-12 ">
      <div class="well">
        
        <form class="form-inline" >
            <div class="col-md-3"></div>
            <div class="col-md-2 ">
                <label for="date" class="mb-2 mr-sm-4">Source(Distillery Unit)</label>
                </div>
                <div class="col-md-7">
                <select class="form-control mb-2 mr-sm-8">
                    <option></option>
                </select>
                </div>
                <div class="col-md-3"></div>
            <div class="col-md-2 ">
                    <label for="date" class="mb-2 mr-sm-4">Destination(Depot)</label>
                    </div>
                    <div class="col-md-7">
                    <select class="form-control mb-2 mr-sm-8">
                        <option></option>
                    </select>
                    </div>
                    <div class="col-md-3"></div>
            <div class="col-md-2 ">
                    <label for="date" class="mb-2 mr-sm-4">Vehicle Number</label>
                    </div>
                    <div class="col-md-7">
                    <select class="form-control mb-2 mr-sm-8">
                        <option></option>
                    </select>
                    </div>
           
                <div class="col-md-12" style="height: 30px;"></div> 
                <div class="col-md-5"></div> 
                <div class="col-md-5">
                    <button>Submit</button>&nbsp;
                    <button>Cancel</button>&nbsp;
                   
                    </div>
                    <div class="col-md-2"></div> 
            </form>
        
      </div>
      
      
  </div>
</div>