<h1>New Product Line</h1>
<form action="" style="align-items: center;">
    
     <p style="font-weight: 500;">   Type of the line :  New Line
            <input type="radio">
             Exist Line
        <input type="radio">
    </p>
    <div>
        <label for="" >
            Name of the Line :
            <input type="text" >
        </label>
        
    </div>
    <div>
        <label for="" style="margin-left:287px">
            Line of Identity :
            <input type="option">
        </label>
    </div>
    <div>
        <label for="" style="margin-left:281px">Type of scanner :
            <input type="text">
        </label>
    </div>
    <div>
        <label for="" style="margin-left:311px">
            Line of Path:
            <input type="text">
        </label>
    </div>
    <div>
        <label for="" style="margin-left:18rem">Type of Printer :
            <input type="text">
        </label>
    </div>
    <div>
        <label for=""  style="margin-left:216px">IP of The Barcode Printer : 
            <input type="text">
        </label>
    </div>
    
    <div>
        <label for="" style="margin-left:202px">Port of the Barcode Printer :
            <input type="text">
        </label>
    </div>
</form>

<div style="margin-left: 27rem;">
    <button>Save</button>
    <button>Cancel</button>
</div>