
<div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
            <form class="form-inline" action="/action_page.php">
                <label for="date">Start Date :</label>
                <input type="date" class="form-control" placeholder="" id="email">&nbsp;
                <label for="pwd">End Date:</label>
                <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;
                <select style="height: 30px;">
                    <option>Select  Supplier</option>
                    <option>Eagle Distillery</option>
                    <option>BRK Spirits</option>
                </select>&nbsp;
                <select style="height: 30px;">
                    <option>Consolidate  Payment Report</option>
                    <option>Eagle Distillery</option>
                    <option>BRK Spirits</option>
                </select>&nbsp;
                <i class="fa fa-search" aria-hidden="true" ></i>&nbsp;&nbsp;
                <i class="fa fa-print" aria-hidden="true" style="color: white;"></i>&nbsp;
                
               
               
            </form>
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                   
                </div>
            </div>
            <p></p>
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Supplier Name</th>
                <th>Supplier  Code</th>
                <th>Quantity Eligible (Cases) </th>
                <th> Quantity Eligible (Bottles) </th>
                <th> Total Landedcost Value</th>
                <th>Payment Claim Process Fee</th>
                <th>GRN Process Fee</th>
                <th>Process Fee</th>
                <th>Penality</th>
                <th>Automatic Deducation</th>
                <th>Addition</th>
                <th>Deducation</th>
                <th>Net Amount</th>
               
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>No Data </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
               
               
              </tr>
             
             
            </tbody>
          </table>
    </div>
      <div class="col-12">
          
        
     
        
        
    </div>

    
</div>



<div style="float: right;">
  <button>Previous</button>
  <button>Next</button>
</div>










 


