<div class="container mt-4">
    <form autocomplete="off">
      <div class="form-group row row">
        <label for="retailerCode" class="col-sm-4">Retailer Code :</label>
        <input type="text" class="col-sm-8" id="retailerCode" />
      </div>
      <div class="form-group row">
        <label for="retailerName" class="col-sm-4">Retailer Name :</label>
        <input type="text" class="col-sm-8" id="retailerName" />
      </div>
      <div class="form-group row">
        <label for="retailerType" class="col-sm-4">Retailer Type :</label>
        <input type="text" class="col-sm-8" id="retailerType" />
      </div>
      <div class="form-group row">
        <label for="retailerStatus" class="col-sm-4">Status :</label>
        <input type="text" class="col-sm-8" id="retailerStatus" />
      </div>
      <div class="form-group row">
        <label for="retailerChallan Number" class="col-sm-4"
          >Challan Number :</label
        >
        <input type="text" class="col-sm-8" id="retailerChallanNumber" />
      </div>
      <div class="form-group row">
        <label for="retailerDate" class="col-sm-4">Date :</label>
        <input type="date" class="col-sm-8" id="retailerDate" />
      </div>
      <div class="form-group row">
        <label for="retailerBankName" class="col-sm-4">Bank Name :</label>
        <input type="text" class="col-sm-8" id="retailerBankName" />
      </div>
      <div class="form-group row">
        <label for="retailerChallanPlace" class="col-sm-4"
          >Challan Place :</label
        >
        <input type="text" class="col-sm-8" id="retailerChallanPlace" />
      </div>
      <div class="form-group row">
        <label for="retailerDepositedAmount class=" class="col-sm-4"
          >Deposit Amount :</label
        >
        <input type="text" class="col-sm-8" id="retailerDepositedAmount" />
      </div>
      <div class="form-group row">
        <label for="retailerFile" class="col-sm-4">Add File :</label>
        <input type="file" id="retailerFile" />
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-primary " style="background-color: #2bc0c7;">ADD Amount</button>
        <button class="btn btn-primary ml-4" type="reset" style="background-color: #2bc0c7;">Reset</button>
      </div>
    </form>
  </div>