<nav>
    <label for="">
        Depot :
        <select name="" id="">
            <option value="">Select Depot</option>
        <option value="">Excise Depot Guntur</option>
        <option value="">Excise Depot Krishna</option>
        <option value="">Excise Depot Nellore</option>
        <option value="">Anantapur</option>
        </select>
    </label>
    <label for="" style="margin-left: 8px;">
        Retailer Code :
        <select name="" id="">
        <option value="">17112</option>
        <option value="">17113</option>
        <option value="">17114</option>
        <option value="">17115</option>
        <option value="">17116</option>
    </select>
    </label>
    <label for="">
        Retailer  :
        <select name="" id="">
            <option value="">Mr srinivasa</option>
        <option value="">Mr srinivasa</option>
        <option value="">Mr srinivasa</option>
        <option value="">Mr srinivasa</option>
        <option value="">Mr srinivasa</option>
        </select>
    </label>
    
    
</nav>

<table class="table table-striped">
    <tr style="background: #2bc0c7;">
        <th>Retailer Code</th>
        <th>Retailer Type</th>
        <th>Retailer Name</th>
        <th>Staus </th>
        <th>License Issue Date</th>
        
    </tr>
    <tr>
        <td>127443</td>
        <td>A4</td>
        <td>Mr.venkateswaro Wines</td>
        <td>Active</td>
        <td>03/12/2020</td>
        
    </tr>

<div>
    <p>Retailer creditors as per ledger :267.73</p>
    <p>Certain Amount/Aged Challans :210500.00</p>
    <p> Total Amount :        2100.44 </p>
    <button style="background: rgb(2, 99, 112);
    color: white;">Make Payment Returns</button>
</div>