<nav class="navbar navbar-expand-lg navbar navbar-dark ">
    <div >
       
        
    </div>
</nav>

<div class="bs-example">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Brand Code</th>
                <th> Name</th>
                
                
                
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text">  </td>
                <td><input type="text"> </td>
                
                

            </tr>
            <tr>
                <td>1564  </td>
                <td>Blend Whisky</td>
                
            </tr>
            <tr>
                <td>1564  </td>
                <td>Red Wine</td>
                
            </tr>
            <tr>
                <td>1564  </td>
                <td>White Wine</td>
                
            </tr>
                        
        </tbody>
    </table>
    
</div>
<div id="button" style="float: right;">
    
    <button>previous</button>
    <button>Next</button>
</div> 



