<div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
           
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                   
                </div>
            </div>
           
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
             
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center;font-weight: bold;">Supplier Payment </td>
              </tr>
              <tr>
                <td >Local  </td>
              </tr>
              <tr>
                <td style="background-color: skyblue;" > NonLocal  </td>
              </tr>
              <tr>
                <td >Foreign  </td>
              </tr>
              <tr>
                <td style="background-color: skyblue;">Berweries  </td>
              </tr>
             
             
            </tbody>
          </table>
    </div>
      <div class="col-12">
          
        
     
        
    </div>

    
</div>













 


