<section class="content welcome">
    <div class="container-fluid">
        <!-- Counter Examples -->

        <div class="row clearfix">
            <div class="col-md-offset-1 col-md-10 ">
                <div class="card">
                    <div class="header bg-red">
                        <h2 style="text-align: center;">
                            LINE INFORMATION
                        </h2>

                    </div><br>
                    <div class="body">
                        <form class="form-horizontal">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2"> Production Type</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                    <option value="">-- select --</option>
                                    <option value="Type1">Type 1</option>
                                    <option value="Type2">Type 2</option>
                                    <option value="Type3">Type 3</option>
                                    
                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Enter HEAL Start Code </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                    <option value="">-- select --</option>
                                    <option value="Code1">Code 1</option>
                                    <option value="Code2">Code 2</option>
                                    <option value="Code3">Code 3</option>
                                    
                                </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Brand Code </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Brand Code">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Brand Name </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Brand Name">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Size </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                    <option value="">-- select --</option>
                                    <option value="Size1">Size 1</option>
                                    <option value="Size2">Size 2</option>
                                    <option value="Size3">Size 3</option>
                                    
                                </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Pack Type</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                    <option value="">-- select  --</option>
                                    <option value="Code1">Pack 1</option>
                                    <option value="Code2">Pack 2</option>
                                    <option value="Code3">Pack 3</option>
                                    
                                </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Product Code </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Enter Code">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Units Per Case </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Enter Units">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">MRP </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Enter MRP      ">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Batch No </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Enter Batch No...">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Batch Quantity </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Enter Quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Operator </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Enter MRP      ">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Printer File Name</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                    <option value="">-- select  --</option>
                                    <option value="Code1">File 1</option>
                                    <option value="Code2">File 2</option>
                                    <option value="Code3">File 3</option>
                                    
                                </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Prodcution Type</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                    <option value="">-- select  --</option>
                                    <option value="Code1">Type 1</option>
                                    <option value="Code2">Type 2</option>
                                    <option value="Code3">Type 3</option>
                                    
                                </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                    <label for="email_address_2">Switch from Manual/Automation</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                    <option value="">-- Enable  --</option>
                                    <option value="Code1">Enable</option>
                                    <option value="Code2">Disable</option>
                                   
                                    
                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                    <button type="button" style="margin-left: 24px; background: #2e5d74;" class="btn btn-primary btn-lg m-t-15 waves-effect">Preview</button>
                                    <button type="button" class="btn bg-red btn-lg m-t-15 waves-effect">Cancel</button>
                                </div>
                            </div>
                        </form>
                        <button class="exciseduty-back-btn" (click)="navToExcise()"> Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>