<nav style="    background: rgb(45,79,107);
padding: 6px;">
<label for="">
    Start Date :
    <input type="date">
</label>
<label for="">
    End Date:
    <input type="date">
</label>&nbsp;
    <select name="" id="">
        <option value="">Select  Depot </option>
    </select>
    &nbsp;
    <i class="fa fa-search" aria-hidden="true" ></i>&nbsp;
    <img src="https://img.icons8.com/cute-clipart/30/000000/pdf.png" style="margin-left: 5px;">
    <img src="https://img.icons8.com/officel/30/000000/label-printer.png" style="margin-left: 2px;">
</nav>
<nav style="    background: rgb(45,79,107);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
    <label for="" style="color: white;
    margin-left: 38rem;">
        Search :
        <input type="search">
    </label>
</nav>
<div>
    <table class="table table-striped">
        <tr>
            
            <th>S.No</th>
            <th>Depot Name</th>
            <th>Retailer name</th>
            <th>Retailer Code</th>
            <th>Challan Number</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Blocked Date</th>
            <th>Requested Date</th>
            <th>Unblocked Date</th>
            

        </tr>
        <tr>
            <td>No Data Available</td>
        </tr>
    </table>
</div>


<div style="float: right;">
    <button>Previous</button>
    <button style="margin-left: 26px;
    width: 83px;">Next</button>
</div>