<div class="container-fluid">
    <div class="row">
      
        <div class="col-12 bac">
            <p></p>
            <form class="form-inline" action="/action_page.php">
                <label for="date">Start Date :</label>
                <input type="date" class="form-control" placeholder="" id="email">&nbsp;
                <label for="pwd">End Date:</label>
                <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;
                
               
            </form>
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                    <select>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
                    </select>
                    <input type="text" class=" dd search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <p></p>
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Consignment</th>
                <th>Indent No</th>
                <th> Source Depot</th>
                <th>Destination Depot</th>
                <th>Supplier Name</th>
                <th>Date</th>
                <th>EVC</th>
                <th>GRN</th>
                <th>Status</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Inter Depot</td>
                <td>ASED12345</td>
                <td>Exicse Depot EastGodavari</td>
                <td> Exicse Depot EastGodavari</td>
                <td>M/S.Brk Spirits</td>
                <td>04-01-2020</td>
                <td>NA</td>
                <td>NA</td>
               <td><img src="https://img.icons8.com/plasticine/15/000000/circled-dot.png" ></td>
               
              </tr>
              <tr>
                <td>Inter Depot</td>
                <td>ASED12345</td>
                <td>Exicse Depot EastGodavari</td>
                <td> Exicse Depot EastGodavari</td>
                <td>M/S.Brk Spirits</td>
                <td>04-01-2020</td>
                <td>NA</td>
                <td>NA</td>
               <td><img src="https://img.icons8.com/plasticine/15/000000/circled-dot.png" ></td>
               
              </tr>
             
            </tbody>
          </table>
    </div>
        
        
    </div>

    
</div>



<div id="button" style="float: right;">
    
  <button>previous</button>
  <button>Next</button>
</div> 










 


