<div *ngIf="hasDistilleryPerm">
<table>
    <thead>
        <th *ngxPermissionsOnly="['home/distillery/products']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/distillery/products'" [routerLink]="['../distillery/products']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/18.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Products</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/distillery/stock']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/distillery/stock'" [routerLink]="['../distillery/stock']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/18.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Distillery Stock</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/distillery/beer-stock']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/distillery/beer-stock'" [routerLink]="['../distillery/beer-stock']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/18.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Beer Stock</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/distillery/ofs']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/distillery/ofs'" [routerLink]="['../distillery/ofs']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/18.png" style="height: 40px;" class="img-fluid" />
                                    <h6>OFS</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/distillery/route']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/distillery/route'" [routerLink]="['../distillery/route']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/18.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Route</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>



    </thead>
</table>
</div>
<div *ngIf="!hasDistilleryPerm">
    <app-no-privileges></app-no-privileges>
</div>


























<!-- <div class="container-fliud">
    <div class="row background">
      <div class="col">
         
      </div>
      <div class="col-12 text-right col-lg-4">
             
      </div>
  </div>
  <div class="row" id="wrapper">
    
    <div class="col-10" style="padding-top: 1%;">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../distillery/products']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/img/18.png" class="img-fluid side-width"/>
                            </div>
                            <div class="col-9">
                                <h3>Distillery-Products</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../distillery/stock']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/img/18.png" class="img-fluid side-width"/>
                            </div>
                            <div class="col-9">
                                <h3>Distillery-Stock</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../distillery/beer-stock']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/img/18.png" class="img-fluid side-width"/>
                            </div>
                            <div class="col-9">
                                <h3>Beer-Stock</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../distillery/ofs']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/img/18.png" class="img-fluid side-width"/>
                            </div>
                            <div class="col-9">
                                <h3>OFS</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../distillery/route']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/img/18.png" class="img-fluid side-width"/>
                            </div>
                            <div class="col-9">
                                <h3>Route</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
            <!-- <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../shipment/shipt-tp-vehicle-accident']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="https://img.icons8.com/ultraviolet/40/000000/robot.png">
                            </div>
                            <div class="col-9">
                                <h3>TP Vehicle Accident </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            

            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../shipment/shipment-router']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="https://img.icons8.com/ultraviolet/40/000000/robot.png">
                            </div>
                            <div class="col-9">
                                <h3>Route </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
            
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../shipment/shipment-tp-revalidation']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="https://img.icons8.com/ultraviolet/40/000000/robot.png">
                            </div>
                            <div class="col-9">
                                <h3>TP Revalidation</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>  -->
            <!-- <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../home']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/img/12.png" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Alerts</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
            <!-- <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../home']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/img/18.png" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Feedback</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
        <!-- </div>
    </div>
  </div>
  
  
  </div> -->









