<table>
    <thead>
        <th><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/module/feedback/feedback-feedback'" [routerLink]="['../feedback/feedback-feedback']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/18.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Feedback-Feedback</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/module/feedback/feedback-issue'" [routerLink]="['../feedback/feedback-issue']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/18.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Feedback Issue Log</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
    </thead>
</table>















<!-- <div class="container-fliud">
    <div class="row background">
      <div class="col">
         
      </div>
      <div class="col-12 text-right col-lg-4">
             
      </div>
  </div>
  <div class="row" id="wrapper">
    
    <div class="col-10" style="padding-top: 1%;">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../feedback/feedback-feedback']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/img/image/18.png"  style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Feedback-Feedback</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


           
                    <div class="col-3">
                        <div class="card">
                            <a  [routerLink]="['../feedback/feedback-issue']">
                                <div class="row">
                                    <div class="col-3 pr-0">
                                        <img src="../../assets/img/image/18.png"  style="height: 40px;" class="img-fluid"/>
                                    </div>
                                    <div class="col-9">
                                        <h3>Feedback Issue Log</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
    -->
