
<table class="table table-light" style="border-color: black;" >
    <thead style="background: rgb(45, 79, 107);color: white; ">
        <th>Action(OFIDT)</th>
        <th>Action (IDT Request)</th>
        
        
        
    </thead>
    
        <tr>
            <td></td>
             <td>
                 <img src="https://img.icons8.com/ios-filled/20/000000/printer-door-open.png"> 
                 <img src="https://img.icons8.com/officel/25/000000/pdf.png">
                </td>
            
            
        </tr>
    
</table>
<table class="table table-light" style="border-color: black;" >
    <thead style="background: rgb(45, 79, 107);color: white; ">
        <th>OFS Number</th>
        <th>Brand Code</th>
        <th>Brand Name</th>
        <th>Size in(ml) Code</th>
        <th>OFS qty</th>
        
        
    </thead>
    
        <tr>
            <td></td>
            <td>00002</td>
            <td>Beer</td>
            <td>2222</td>
            <td>12</td>
            
            
        </tr>
    
</table>
