<nav style="    background: rgb(205, 227, 240);
padding: 6px;">
<label for="" style="color: black;">
    Start Date :
    <input type="date">
</label>&nbsp;&nbsp;&nbsp;
<label for="" style="color: black;">
    End Date:
    <input type="date">
</label>&nbsp;&nbsp;&nbsp;
    <select name="" id="">
        <option value="">Select Distillery</option>
    </select>
    &nbsp;&nbsp;
    <i class="fa fa-search" aria-hidden="true" ></i>
</nav>
<div>
    <label for="" style="color: black;
    margin-left: 1rem;">
        ManageSpecialIndent
    </label>
    <!-- <button style="margin-left: 12px;" (click)="addSpecialIndent()">Add Special Indent</button> -->
</div>
<nav style="    background: rgb(204, 227, 240);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
    <!-- <label for="" style="color: white;
    margin-left: 38rem;">
        Search :
        <input type="search">
    </label> -->
    <button style="margin-left: 63rem;" (click)="addSpecialIndent()">Add Special Indent</button>
</nav>
<nav style="    background: rgb(204, 227, 240);
padding: 6px;">
  
  <label for="" style="color: black;
  margin-left: 62rem;">
      Search :
      <input type="search">
  </label>
</nav>
<div>
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th><input type="checkbox"></th>
            <th>IFS No</th>
            <th>Distillery</th>
            <th>Depot</th>
            <th>Date</th>
            <th>Status</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sindent of specialindents">
            <td><input type="checkbox"></td>
            <td>{{sindent.indentNo}}</td>
            <td>{{sindent.distilleryId}}</td>
            <td>{{sindent.depotId}}</td>
            <td>{{sindent.indentDate}}</td>
            <td>{{sindent.status}}</td>
            <td>
                <button type="button" style="margin-left: 12px; background-color: rgb(48,99,146);"  tooltip="view Special Indent" >View</button>
                <button type="button" style="margin-left: 12px; background-color: rgb(241,181,27);" tooltip="Edit Special Indent" >Edit</button>
                <button type="button" style="margin-left: 12px;  background-color: red;" tooltip="Delete Special Indent">Delete</button>
            </td>
        </tr>
    </tbody>  
    </table>
</div>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<div>
    <button>Approve</button>&nbsp;&nbsp;
    <button style="margin-left: 12px;">Cancel</button>
    <button style="margin-left: 34rem;background-color: rgb(241,181,27); ">Previous</button>
    <button style="margin-left: 5px;
    width: 83px;  background-color: red;">Next</button>
</div>