<nav style="    background: rgb(45,79,107);
padding: 6px;">
<label for="">
    Start Date :
    <input type="date">
</label>
<label for="">
    End Date:
    <input type="date">
</label>&nbsp;
    <select name="" id="">
        <option value="">Select Distillery</option>
    </select>
    &nbsp;
    <i class="fa fa-search" aria-hidden="true" ></i>
</nav>
<div>
    <button style="margin-left: 12px;" (click)="addSpecialIndent()">Add Special Indent</button>
</div>
<nav style="    background: rgb(45,79,107);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
    <label for="" style="color: white;
    margin-left: 38rem;">
        Search :
        <input type="search">
    </label>
</nav>
<nav style="    background: rgb(45,79,107);
padding: 6px;">
   <label for="" style="color: white;
    margin-left: 38rem;">
        Special Indent
    </label>
</nav>
<div>
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th><input type="checkbox"></th>
            <th>IFS No</th>
            <th>Distillery</th>
            <th>Depot</th>
            <th>Date</th>
            <th>Status</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sindent of specialindents">
            <td><input type="checkbox"></td>
            <td>{{sindent.indentNo}}</td>
            <td>{{sindent.distilleryId}}</td>
            <td>{{sindent.depotId}}</td>
            <td>{{sindent.indentDate}}</td>
            <td>{{sindent.status}}</td>
            <td>
                <button type="button" style="margin-left: 12px;" tooltip="view Special Indent" >View</button>
                <button type="button" style="margin-left: 12px;" tooltip="Edit Special Indent" >Edit</button>
                <button type="button" style="margin-left: 12px;" tooltip="Delete Special Indent">Delete</button>
            </td>
        </tr>
    </tbody>  
    </table>
</div>


<div>
    <button>Approve</button>
    <button style="margin-left: 12px;">Cancel</button>
    <button style="margin-left: 34rem;">Previous</button>
    <button style="margin-left: 5px;
    width: 83px;">Next</button>
</div>