th{
    background:#2bc0c7;
    color: white;
}
button{
    background: rgb(45,79,107);
    color: white;
    padding: 13px;
    font-weight: 700;
    border-style: hidden;
    border-radius: 11px;
}
table{
    font-size: x-small;
}