<nav style="    background: rgb(45,79,107);
padding: 6px;">
<label for="" style="color: white;">Select Excise Circle :
    <select name="" id="">
        
        <option value="">Guntur Depot I</option>
    </select>
</label>
</nav>
<nav style="    background: rgb(45,79,107);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
    <label for="" style="color: white;
    margin-left: 40rem;">
        Search :
        <input type="search">
    </label>
</nav>
<table class="table table-striped">
    <tr>
        <tr>
           <th>S.No</th>
           <th>Retailer Name</th>
           <th>Retailer Code</th>
           <th>Retailer Type</th>
           <th>Licensee Name</th>
           <th>Status</th>
           
        </tr>
        <tr>
            <td>1</td>
            <td>Parameswara Wines</td>
            <td>12243252</td>
            <td>A4</td>
            <td>Chennakesava Reddy</td>
            <td><img src="https://img.icons8.com/color/20/000000/connection-status-on--v1.png"></td>
    </tr>

</table>
<div style="float: right;">
    <button>Previous</button>
    <button style="margin-left: 26px;
    width: 83px;">Next</button>
</div>