<nav style="    background: rgb(45,79,107);
padding: 6px;">
    <select name="" id="">
        <option value="">Guntur Depot I</option>
    </select>
</nav>
<nav style="    background: rgb(45,79,107);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
    <label for="" style="color: white;
    margin-left: 40rem;">
        Search :
        <input type="search">
    </label>
</nav>
<table class="table table-striped">
    <tr>
        <tr>
            <th>S.No</th>
            <th>Reatiler Names</th>
            <th>Retailer Code</th>
            <th>Depot Name</th>
            <th>Gazette Code</th>
            <th>Supervissor/owner</th>
            <th>Issue Date</th>
            <th>Issue Code</th>
            <th>User Id</th>
            <th>Mobile No.</th>
            <th>Email Id</th>
            <th>Target</th>
            <th>View</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Rayala Wines</td>
            <td>Ap/TG/1</td>
            <td>Guntur Depot 1</td>
            <td>786756</td>
            <td>Subba Rao</td>
            <td>1-Aug-2017</td>
            <td>1-Aug-2019</td>
            <td>123454</td>
            <td>9012345678</td>
            <td>syubbarao@gmail.com</td>
            <td><a href="">View Target</a></td>
            <td><img src="https://img.icons8.com/android/20/000000/note.png"></td>
        
    </tr>

</table>
<div style="float: right;">
    <button>Previous</button>
    <button style="margin-left: 26px;
    width: 83px;">Next</button>
</div>