
<p class="prc"></p>
<div class="row">
  <div class="col-12 ">
      <div class="well">
        
        <form class="form-inline">
            <div class="col-md-2">
            <label for="date" class="mb-2 mr-sm-4">From Date</label>
            </div>
            <div class="col-md-10">
            <input type="date" class="form-control mb-2 mr-sm-8"  placeholder=""  name="date" >
            </div>
            <div class="col-md-2 ">
                <label for="date" class="mb-2 mr-sm-4">To Date</label>
                </div>
                <div class="col-md-10">
                <input type="date" class="form-control mb-2 mr-sm-8"  placeholder=""  name="date" >
                </div>
            </form>
        
      </div>
      <i class="fa fa-print" aria-hidden="true" style="margin-left: 18rem;" ></i>&nbsp;
      <i class="fa fa-file-pdf-o" aria-hidden="true" ></i>&nbsp;
      
  </div>
</div>