<h1>Line Information</h1>
<div>
    <label for="">
        Select Producton Type :
        <select name="" id="">
            <option value="">Local</option>
        </select>
    </label></div>
    <div>
    <label for="">
        Enter Heal Start code :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 4rem;">Brand Name :
        <input type="text">
    </label></div>
    <div>
    <label for="" style="margin-left: 4rem;">Brand Code :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 8rem;">Size
        <select name="" id="">
            <option value="">QQ</option>
        </select>
    </label>
</div>
<div>
    <label for="" style="margin-left: 5rem;">Pack Type :
        <select name="" id="">
            <option value="">glass</option>
        </select>
    </label>
</div>
<div>
    <label for="" style="margin-left:3.4rem;">
        Product Code :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 3.5rem;">Units per Case
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 7.3rem;">MRP :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 5.3rem;">
        Batch No :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 2.8rem;">
        Batch Quantity :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 1rem;">
        Manufaturing Date :
        <input type="date">
    </label>
</div>
<div>
    <label for="" style="margin-left: 5.4rem;">Operator :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 1.8rem;">Printer File Name :
        <select name="" id="">
            <option value="">Epson</option>
        </select>
    </label>
</div>
<div>
    <label for="" style="margin-left: 2.3rem;">Production Type :
        <select name="" id="">
            <option value="">Automation</option>
        </select>
    </label>
</div>



<div>
    <button style="margin-left: 9rem;" (click)="preview()">Preview</button>
    <button style="margin-left: 1rem;">Cancel</button>
</div>