<nav>
    <label for="">
        Start Date :
        <input class="date" type="date">
    </label>
    <label for="" style="margin-left: 8px;">
        End Date :
        <input class="date" type="date">
    </label>
    <select name="" id="" style="width: 200px;">
        <option value="">Select Depot</option>
        <option value="">Excise Depot Guntur</option>
        <option value="">Excise Depot Krishna</option>
        <option value="">Excise Depot Nellore</option>
        <option value="">Anantapur</option>
    </select>
    <img src="https://img.icons8.com/pastel-glyph/10/000000/search--v2.png">
</nav>

<table class="table table-striped">
    <tr style="background: #2bc0c7;">
        <th>S.No</th>
        <th>Depot</th>
        <th>Breakage Verfication</th>
        <th>Verfication Date</th>
        <th>Breakage Count</th>
        
    </tr>
    <tr>
        <td>No data avalible</td>
    </tr>
</table>

<div style="float: right;">
    <button>Previous</button>
    <button style="margin-left: 11px;
    padding: 7px;
    width: 62px;">Next</button>
</div>