<h3>TP Barcode Tp13224332653226</h3>
<p><strong>Product code</strong><span style="margin-left:3rem;"> 12345WERT</span></p>
<p><strong>Product Name</strong><span style="margin-left: 2.5rem;"> 12345WERT</span></p>
<P><strong>Scanned Quantity</strong><span style="margin-left: 1rem;"> 12345WERT</span></P>
<table class="table table-striped bg-light">
    <tr>
        <th>OFS Number</th>
        <th>OFS Qty</th>
        <th>Allocated Quantity</th>
        <th>Balance Qty</th>
        <th>Shipment Qty</th>
    </tr>
    <tr>
        <td>dve</td>
        <td>ergrew</td>
        <td>regrew</td>
        <td>rert</td>
        <td style="margin-left: 4rem;"><input type="text"> </td>
    </tr>
</table>
<div>
    <p style="font-weight: 500;"><button mat-dialog-close style="margin-left: 14rem; background-color: lightgreen; color: white;" (click)="preview()">Preview</button>
        <img src="https://img.icons8.com/cute-clipart/20/000000/plus.png" style="cursor: pointer;" > Start adding new OFS</p>
</div>