<button>GRN FORM <img src="https://img.icons8.com/officel/20/000000/pdf.png"><img src="https://img.icons8.com/ios/20/000000/printer-door-open.png"></button>
<table>
    <tr>
        <th>Product <Code></Code></th>
        <th>Product Name</th>
        <th>TP Qty(Cs)</th>
        <th>Recieved Qty (cases)</th>
        <th>Recieved Qty (bottles)</th>
        <th>Breakage Qty(bottles)</th>
        <th>Breakage Qty(cases)</th>
        <th>Shortage Qty</th>
        <th>Rate</th>
        <th>Breakage Amt</th>
        <th>Stock Amt</th>
    </tr>
    <tr>
        <td>Seagrams Royal stag Blended Whisky</td>
        <td>375</td>
        <td>160</td>
        <td>150</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>123.00</td>
        <td>0.00</td>
        <td>4,243.00</td>
        
    </tr>
</table>