
<table>
    <thead>
        <th *ngxPermissionsOnly="['home/update-stock']"> <div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/update-stock'" [routerLink]="['../update-stock']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/08.png" style="height: 60px;" class="img-fluid" />
                                    <h6>Update Stock</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/add-vehicle-tracking']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/add-vehicle-tracking'" [routerLink]="['../add-vehicle-tracking']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/08.png" style="height: 60px;" class="img-fluid" />
                                    <h6>Add Vehicle Tracking</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/vehicle-tracking-route']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/vehicle-tracking-route'" [routerLink]="['../vehicle-tracking-route']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/08.png" style="height: 60px;" class="img-fluid" />
                                    <h6>Vehicle Tracking Route</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/add-route']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/add-route'" [routerLink]="['../add-route']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/img/08.png" style="height: 60px;" class="img-fluid" />
                                    <h6>Add Route</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        

    </thead>

    
</table>