
<nav style="    background: rgb(45,79,107);
padding: 6px;">
    <select name="" id="">
        <option value="">10</option>
    </select>
    <label for="" style="color: white;margin-left: 38rem; ">
        Search :
        <input type="search">
    </label>
</nav>
<div>
    <table class="table table-striped">
        <tr>
            
            <th>S.No</th>
            <th>Product Code</th>
            <th>Brand Code</th>
            <th>Brand Name</th>
            <th>Size(ml)</th>
            <th>Units per Case</th>
            <th>Pack Type</th>
            <th>OFS Local Price</th>
            <th>OFS Import Price</th>
            <th>Basic Price</th>
            <th>Excise Duty</th>
            <th>Custom Duty</th>
            <th>Strength(%)</th>
            <th>Landing Cost</th>
            <th>VAT %</th>
            <th>AP VAT</th>
            <th>Actual Issue Price</th>
           
            

        </tr>
        <tr>
            <td>No Data Available</td>
        </tr>
    </table>
</div>


<div style="float: right;">
    <button>Previous</button>
    <button style="margin-left: 26px;
    width: 83px;">Next</button>
</div>