<div class="container-fluid">
    <div class="row">
      <div class="col-12">
          
        <i class="fa fa-plus-circle fa-x" aria-hidden="true" (click)="sampleFormWindow()">&nbsp;<span >CSD</span ></i> 
      
        
        
    </div>
        <div class="col-12 bac">
            <p></p>
            <form class="form-inline" action="/action_page.php">
                <label for="date">Start Date :</label>
                <input type="date" class="form-control" placeholder="" id="email">&nbsp;
                <label for="pwd">End Date:</label>
                <input type="date" class="form-control" placeholder="" id="pwd">
               
            </form>
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                    <select>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
                    </select>
                    <input type="text" class=" dd search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <p></p>
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Consignment</th>
                <th>Indent No</th>
                <th>Destination</th>
                <th> Date</th>
                <th>Active</th>
                <th>Status</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CSDExport</td>
                <td>ASED12345</td>
                <td>Hyderadad</td>
                <td>02-MAR-2019</td>
                <td (click)="csdFormWindow()" style="cursor: pointer;color: skyblue;">  Get Details</td>
               <td><img src="https://img.icons8.com/plasticine/15/000000/circled-dot.png" (click)="statusFormWindow()" style="cursor: pointer;"></td>
               
              </tr>
              <tr>
                <td>CSDExport</td>
                <td>ASED12345</td>
                <td>Hyderadad</td>
                <td>02-MAR-2019</td>
                <td>Get Details</td>
               <td><img src="https://img.icons8.com/plasticine/15/000000/circled-dot.png" (click)="indentFormWindow()" style="cursor: pointer;"></td>
               
              </tr>
             
            </tbody>
          </table>
    </div>

        
        
    </div>

    
</div>


<div id="button" style="float: right;">
  <button>Previous</button>
  <button>Next</button>
</div>










 


