<div class="background-middle" style="margin-top: 50px;">
    <div class="container-fluid">
        <div class="col-12 form-group">
            <div class="row justify-content-end">
                <div class="col-lg-2 col-12 float-right">
                    <select class="form-control form-new">
                        <option>English</option>
                    </select>
                </div>
            </div>
        </div>
        <form [formGroup]="forgotPasswordForm" *ngIf="!isCreateNewPwd">

            <div class="col-12">
                <div class="row">

                    <div class="col-lg-4 col-12 m-auto">
                        <div class="form-group">
                            <label class="control-label">
                                Phone Number Or Email
                            </label>
                            <input type="text" class="form-control-new form-control"
                                placeholder="Enter PhoneNumber Or Email" formControlName="emailOrNum"
                                [readonly]="isGetOtp" />
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-12" *ngIf="showError">
                                <span style="color: #ff7a7a;">Invalid Mobile Number, Re submit Again</span>
                            </div>
                            <div class="col-lg-5 col-6" *ngIf="!isGetOtp">
                                <button type="button" class="btn btn-distillery btn-lg btn-block"
                                    [disabled]="!forgotPasswordForm.valid" (click)="forgotpassword()">Submit</button>
                            </div>
                            <div class="col-lg-5 col-6" *ngIf="isGetOtp">
                                <button type="button" class="btn btn-distillery btn-lg btn-block"
                                    (click)="generateOtp()">Get Otp</button>
                            </div>
                            <div class="col-lg-5 col-6" *ngIf="!isGetOtp"> <button type="button"
                                    class="btn btn-distillery btn-lg btn-block" (click)="clear()">Cancel </button></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <a style="color:white" [routerLink]="['/login']">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div *ngIf="isCreateNewPwd">
            <div class="col-12">
                <div class="row">

                    <div class="col-lg-4 col-12 m-auto">
                        <div class="form-group">
                            <label class="control-label">
                                Otp
                            </label>
                            <input type="text" class="form-control-new form-control" [(ngModel)]="pwdModel.otp"
                                placeholder="Enter Your Otp" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                New Password
                            </label>
                            <input type="password" class="form-control-new form-control" [(ngModel)]="pwdModel.newPwd"
                                placeholder="Enter new Pwd" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Confirm Password
                            </label>
                            <input type="password" class="form-control-new form-control" [(ngModel)]="pwdModel.confirmPwd"
                                placeholder="Enter Confirm pwd" />
                        </div>
                        <div class="col-12" *ngIf="isPwdNotMatched">
                            <span style="color: #ff7a7a;">New Password and Confirm Password Not Matched</span>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-lg-5 col-6">
                                <button type="button" (click)="changePwd()" class="btn btn-distillery btn-lg btn-block">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>