
<table>
    <thead>
        <th *ngxPermissionsOnly="['home/licensee-profiles/bars']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/bars'" [routerLink]="['../licensee-profiles/bars']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Bars</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/licensee-profiles/clubs']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/clubs'" [routerLink]="['../licensee-profiles/clubs']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Clubs</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/licensee-profiles/elite']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/elite'" [routerLink]="['../licensee-profiles/elite']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Elite</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/licensee-profiles/ep1']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/ep1'" [routerLink]="['../licensee-profiles/ep1']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>EP1</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/licensee-profiles/expired-licensee']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/expired-licensee'" [routerLink]="['../licensee-profiles/expired-licensee']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Expiry License</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/licensee-profiles/f2']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/f2'" [routerLink]="['../licensee-profiles/f2']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>F2 </h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
    </thead>
</table>
<table>
    <thead>
        <th *ngxPermissionsOnly="['home/licensee-profiles/licensee-status']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/licensee-status'" [routerLink]="['../licensee-profiles/licensee-status']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Status</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/licensee-profiles/suspended-retailers']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/suspended-retailers'" [routerLink]="['../licensee-profiles/suspended-retailers']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Suspended Retailers</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/licensee-profiles/t2']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/t2'" [routerLink]="['../licensee-profiles/t2']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>T2</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
        <th *ngxPermissionsOnly="['home/licensee-profiles/shops']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/shops'" [routerLink]="['../licensee-profiles/shops']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>Shops</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>
       
        <th *ngxPermissionsOnly="['home/licensee-profiles/td1-td2']"><div class="col-10" style="padding-top: 1%;">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-6" >
                    <div class="card card1">
                        <a [appSubMenu]="'home/licensee-profiles/td1-td2'" [routerLink]="['../licensee-profiles/td1-td2']">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid" />
                                    <h6>TP Revalidation</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div></th>



    </thead>
</table>










<!-- <div class="container-fliud">
    <div class="row background">
      <div class="col">
         
      </div>
      <div class="col-12 text-right col-lg-4">
             
      </div>
  </div>
  <div class="row" id="wrapper">
    
    <div class="col-10" style="padding-top: 1%;">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/bars']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Bars</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/clubs']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Clubc</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/elite']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Elite</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/ep1']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>EP1</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/expired-licensee']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Expired License</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/f2']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>F2 </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            

            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/licensee-status']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Licensee Status </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
            
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/shops']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Shops</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>  
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/suspended-retailers']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>Suspended Retailers </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
            
            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/t2']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>T2</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>  


            <div class="col-3">
                <div class="card">
                    <a  [routerLink]="['../licensee-profiles/td1-td2']">
                        <div class="row">
                            <div class="col-3 pr-0">
                                <img src="../../assets/Icons/Licensee profiles.png" style="height: 40px;" class="img-fluid"/>
                            </div>
                            <div class="col-9">
                                <h3>TD1/TD2 </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
            
         -->
