
<p class="sup">Update-Stock</p><br>
<div class="row">
  <div class="col-12 ">
      <div class="well">
        
        <form class="form-inline" >

            <div class="col-md-3"></div>
            <div class="col-md-2 ">
                    <label for="date" class="mb-2 mr-sm-4">Product Code</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="text" >
                    </div>

            <div class="col-md-3"></div>
            <div class="col-md-2 ">
                <label for="date" class="mb-2 mr-sm-4">Product Type</label>
                </div>
                <div class="col-md-7">
                <select class="form-control mb-2 mr-sm-8">
                    <option></option>
                </select>
                </div>

                <div class="col-md-3"></div>
            <div class="col-md-2 ">
                <label for="date" class="mb-2 mr-sm-4">Brand Name</label>
                </div>
                <div class="col-md-7">
                <select class="form-control mb-2 mr-sm-8">
                    <option></option>
                </select>
                </div>

                <div class="col-md-3"></div>
            <div class="col-md-2 ">
                    <label for="date" class="mb-2 mr-sm-4">Size(ml)</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="text" >
                    </div>

                    <div class="col-md-3"></div>
                    <div class="col-md-2 ">
                            <label for="date" class="mb-2 mr-sm-4">Number Of Cases</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="text" >
                            </div>

                            <div class="col-md-3"></div>
                            <div class="col-md-2 ">
                                    <label for="date" class="mb-2 mr-sm-4">Number Of Bottles(Per Case)</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="text" >
                                    </div>
                   
            <div class="col-md-3"></div>
            <div class="col-md-2 ">
                <label for="date" class="mb-2 mr-sm-4">Depot Name</label>
                </div>
                <div class="col-md-7">
                <select class="form-control mb-2 mr-sm-8">
                    <option></option>
                </select>
                </div>
                
                <div class="col-md-12" style="height: 30px;"></div> 
                <div class="col-md-5"></div> 
                <div class="col-md-5">
                    <button>AddStock</button>&nbsp;
                    <button>Cancel</button>&nbsp;
                   
                    </div>
                    <div class="col-md-2"></div> 
            </form>
        
      </div>
      
      
  </div>
</div>