<nav class="navbar navbar-expand-lg navbar navbar-dark ">
    <div >
       
        
    </div>
</nav>

<div class="bs-example">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Frist Name</th>
                <th>Email ID </th>
                <th>Mobile  Number</th>
                <th>Location Type</th>
                <th>Role</th>
                <th>Location Name  </th>
                
                
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text">  </td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
                <td><input type="text">  </td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
               
                

            </tr>
            <tr>
                <td>apbcl_nrl  </td>
                <td>Mr.sri</td>
                <td>sri@gmail.com</td>
                <td>1234567890 </td>
                <td>Depot</td>
                <td>Dpo </td>
                <td>Nellore Depot</td>
                

            </tr>
            <tr>
                <td>apbcl_nrl  </td>
                <td>Mr.sri</td>
                <td>sri@gmail.com</td>
                <td>1234567890 </td>
                <td>Depot</td>
                <td>Dpo </td>
                <td>Nellore Depot</td>
                

            </tr>
                        
        </tbody>
    </table>
    
</div>
<div id="button" >
    
    <button>previous</button>
    <button>Next</button>
</div> 



