<table class="table table-striped">
    <tr>
        <th style="border-right: 1px solid; border-right-color: white;"><img src="https://img.icons8.com/metro/30/000000/printer-door-open.png"></th>
        <th>Upload Basic Prices Here</th>
    </tr>
</table>
<div>

    <label for="">
        Download File Step-1 :
        <br>
        <select name="" id="">
            <option value="">Local</option>
            <option value="">Non-Local</option>
            <option value="">Beer</option>
            <option value="">Wine</option>
            <option value="">Foreign</option>
            <option value="">Foreign Beer</option>
            <option value="">Foreign Wine</option>
        </select>
    </label>
</div>

<div>
    <label for="">
        Upload File Step-2 :
        <br>
        <input type="file">
    </label>
    <br>
    <button style="background: rgb(47,79,107);
    color: white;
    border-style: hidden;
    font-weight: 500;
    border-radius: 4px;">Upload Data</button>
   
</div>
 

    <div>
        <label for="">
            Recompute Basic Step-3 :
            <br>
           <select name="" id="" style="width: 10rem;">
                <option value="" >All</option> <span style="color: blue;">Compute</span>
                
            </select>
        </label>
    </div>