<!-- <div class="col-md-12 gg">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <form class="form-inline" id="createProgramForm">

    <label for="program" class="mb-2 mr-sm-2">Distillery Percentage For Stable Eligibility:</label>
    <input type="text" class="form-control mb-2 mr-sm-2 programName" id="prg" placeholder="Enter Program"
      name="program" required>
    <!-- <button type="button" id="saveBtn" class="btn btn-primary mb-2">Save</button> -->


    

  <!-- </form>
  </div>
  <div class="col-md-3"></div>
</div>  -->
<p class="eli">Compute Eligibility</p>
<div class="row">
  <div class="col-12  gg">
      <div class="well">
        
        <form class="form-inline">
          <div class="col-md-5 ">
          <label for="program" class="mb-2 mr-sm-4">Distillery Percentage For Stable Eligibility</label>
          </div>
          <div class="col-md-7">
          <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
          </div>

          <div class="col-md-5 ">
            <label for="program" class="mb-2 mr-sm-4">Distillery Eligibility (In Terms Of Months)</label>
            </div>
            <div class="col-md-7">
            <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
            </div>

            <div class="col-md-5 ">
              <label for="program" class="mb-2 mr-sm-4">Distillery Eligibility Average (In Terms Of Months)</label>
              </div>
              <div class="col-md-7">
              <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
              </div>

              <div class="col-md-5 ">
                <label for="program" class="mb-2 mr-sm-4">Depot Eligibility (In Terms Of Months)</label>
                </div>
                <div class="col-md-7">
                <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                </div>

                <div class="col-md-5">
                  <label for="program" class="mb-2 mr-sm-4">Depot Eligibility Average (In Terms Of Months)</label>
                  </div>
                  <div class="col-md-7">
                  <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                  </div>

                  <div class="col-md-5">
                    <label for="program" class="mb-2 mr-sm-4">New Product Eligibility-IMFL (For Each Depot)</label>
                    </div>
                    <div class="col-md-7">
                    <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                    </div>

                    <div class="col-md-5">
                      <label for="program" class="mb-2 mr-sm-4">New Product Eligibility-BEER (For Each Depot)</label>
                      </div>
                      <div class="col-md-7">
                      <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                      </div>

                      <div class="col-md-5">
                        <label for="program" class="mb-2 mr-sm-4">New Product Eligibility-IMFL (Across All Depots)</label>
                        </div>
                        <div class="col-md-7">
                        <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                        </div>

                        <div class="col-md-5">
                          <label for="program" class="mb-2 mr-sm-4">New Product Eligibility-BEER (For Each Depots)</label>
                          </div>
                          <div class="col-md-7">
                          <input type="text" class="form-control mb-2 mr-sm-8"  placeholder=""  name="program" >
                          </div>

                          

         

          
          <!-- <button type="button" id="saveBtn" class="btn btn-primary mb-2">Save</button> -->
      
      
          
      
        </form>
      </div>
      <button type="button" id="saveBtn" class="btn btn-primary mb-2">Submit</button>
  </div>
</div>