<h1>Challan Information</h1>
<label for="" style="margin-left: 75px;">
    Challan Type :
    <select name="" id="">
        <option value="">DD/Challan</option>
    </select>
</label>
<div>
    <label for="" style="margin-left: 49px;">Deposit Amount :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 76px;">
        Challan Date :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 57px;">
        Challan Number:
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 86px;">
        Bank Name :
        <input type="text">
    </label>
</div>
<div>
    <label for="" style="margin-left: 74px;">Challan Place :
        <input type="text">
    </label>
</div>
<button style="    margin-left: 220px;
background: #2e5d74;
padding: 6px;
border-radius: 10px;
padding-left: 14px;
padding-right: 14px;
color: white" (click)="save()">Save</button>
<button style="    margin-left: 0px;
background: #2e5d74;
padding: 6px;
border-radius: 10px;
padding-left: 14px;
padding-right: 14px;
color: white" mat-dialog-close>Close</button>