<div class="container-fluid">
    <div class="row">
     
        <div class="col-12 bac">
            <p></p>
            <form class="form-inline" action="/action_page.php">
                <label for="date">Start Date :</label>
                <input type="date" class="form-control" placeholder="" id="email">&nbsp;
                <label for="pwd">End Date:</label>
                <input type="date" class="form-control" placeholder="" id="pwd">&nbsp;
                <select class="form-control">
                    <option>Local</option>
                    <option>CSD</option>
                 
                </select>&nbsp;
                <i class="fa fa-search" aria-hidden="true"></i>
            </form>
            
           
<div class="col-md-12">
    
            <div id="custom-search-input">
                <div class="input-group">
                    <select>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
                    </select>
                    <input type="text" class=" dd search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <p></p>
            </div>
            </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Date&Time</th>
                <th>Challan/Transaction Date</th>
                <th>Description </th>
                <th>Transaction Type</th>
                <th>Challan/Transaction No</th>
                <th>Opening Bill</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>22-dec-2019,12:33 PM</td>
                <td> @@-dc-2019</td>
                <td>EC</td>
                <td>Remitance</td>
                <td>CH45</td>
                <td>1234566</td>
                <td>50.00</td>
                <td>0.00</td>
                <td>123456</td>
              </tr>
              <tr>
                <td>22-dec-2019,12:33 PM</td>
                <td> @@-dc-2019</td>
                <td>EC</td>
                <td>Remitance</td>
                <td>CH45</td>
                <td>1234566</td>
                <td>50.00</td>
                <td>0.00</td>
                <td>123456</td>
              </tr>
              <tr>
                <td>22-dec-2019,12:33 PM</td>
                <td> @@-dc-2019</td>
                <td>EC</td>
                <td>Remitance</td>
                <td>CH45</td>
                <td>1234566</td>
                <td>50.00</td>
                <td>0.00</td>
                <td>123456</td>
              </tr>
             
            </tbody>
          </table>
    </div>
      <div class="col-12">
          
        
      <span class="but">  <button type="button" class="btn btn-info">Pervious</button>&nbsp;
        <button type="button" class="btn btn-info">Next</button></span>
        
        
    </div>

    
</div>













 


