<nav class="navbar navbar-expand-lg navbar navbar-dark ">
    <div>
        <label></label> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        <label for="">
            <i class="fa fa-users" aria-hidden="true"></i>
            Distellary Stock
        </label> &nbsp;&nbsp;
        <label for="">
            <i class="fa fa-users" aria-hidden="true"></i>
            Depot Sale
        </label> &nbsp;&nbsp;
        <label for="">
            <i class="fa fa-users" aria-hidden="true"></i>
           Retailer
        </label> &nbsp;&nbsp;
        <label for="">
            <i class="fa fa-users" aria-hidden="true"></i>
            Tender Dashboard
        </label>


    </div>
</nav>

<div class="bs-example">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Brand Code</th>
                <th>Size(ml) </th>
                <th>Unit Per Case</th>
                <th>Product Name</th>
                <th>Location</th>
                <th>Production</th>
                <th>Sales </th>
                <th>Current Stock</th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0086 </td>
                <td>750</td>
                <td>12</td>
                <td>Honey Beer</td>
                <td>Hyderbad</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>


            </tr>
            <tr>
                <td>0086 </td>
                <td>750</td>
                <td>12</td>
                <td>Honey Beer</td>
                <td>Hyderbad</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>


            </tr>
            <tr>
                <td>0086 </td>
                <td>750</td>
                <td>12</td>
                <td>Honey Beer</td>
                <td>Hyderbad</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>


            </tr>

        </tbody>
    </table>
    <button class="gotohome-btn" (click)="navTohome()">Go to Home</button>
</div>