<nav>
    <label for="">
        Start Date :
        <input class="date" type="date">
    </label>
    <label for="" style="margin-left: 8px;">
        End Date :
        <input class="date" type="date">
    </label>
    <select name="" id="">
        <option value="">All</option>
    </select>
    <select name="" id="">
        <option value="">All</option>
    </select>
    <img src="https://img.icons8.com/pastel-glyph/10/000000/search--v2.png">
</nav>

<nav>
    <select name="" id="">
        <option value="">10</option>
    </select>
    <label for="" style="margin-left: 34rem;">
        Search :
        <input type="search" >
    </label>

</nav>



<table class="table table-striped">
    <tr style="background: #2bc0c7">
        <th>S.No</th>
        <th>Location</th>
        <th>Opening Stock</th>
        <th>Inward Stock</th>
        <th>Sales</th>
        <th>Closing Stock</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Exise Depot Vizag II</td>
        <td>10099/182</td>
        <td>3200/00</td>
        <td>00</td>
        <td>11234/4200</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Exise Depot Vizag II</td>
        <td>10099/182</td>
        <td>3200/00</td>
        <td>00</td>
        <td>11234/4200</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Exise Depot Vizag II</td>
        <td>10099/182</td>
        <td>3200/00</td>
        <td>00</td>
        <td>11234/4200</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Exise Depot Vizag II</td>
        <td>10099/182</td>
        <td>3200/00</td>
        <td>00</td>
        <td>11234/4200</td>
    </tr>
</table>


<div style="float: right;" >
    <button style="border-style: hidden;">Previous</button>
    <button style="margin-left: 11px; border-style: hidden;
    padding: 7px;
    width: 62px;">Next</button>
</div>