<div>
    <h1 mat-dialog-header >Indent For Depot Transfer </h1>
    </div>
    <div mat-dialog-content class="type" >
        
            <label for="">
                Destination*
                
                    <select style="width: 13.2rem;">
                        <option>Inter Depot Transfer</option>
                        <option>10</option>
                        <option>10</option>
                    </select>
               
            </label>
           
        
        
    </div>
    <div  class="type1" >
        
        <label for="">
            From Depot*
            <input type="type" style="height: 24px;width: 13.5rem;" >
           
        </label>
     
</div>
<div  class="type2" >
        
    <label for="">
        To Depot*
        <input type="type" style="height: 24px;width: 13.5rem;" >
       
    </label>
 
</div>

   
    

    
   
    <div class="table" style="font-size: small;" >
    <table class="table table-bordered"  >
        
        <tr>
            <th><img src="https://img.icons8.com/material-sharp/24/000000/overview-pages-3.png"></th>
            <th>Product Code</th>
            <th>Brand  Name</th>
            <th>size in(ml)</th>
            <th>Quantity(in cases)</th>
            
            
        </tr> 
        <tr>
            <td>
                <img src="https://img.icons8.com/material-sharp/24/000000/overview-pages-3.png">
            </td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text" placeholder="">
            </td>
            
            <td>
                <input type="text">
            </td>
            <td>
             <input type="text" style="font-size: small;">   
            </td>
           
        </tr>
         </table>
        
        
                
            
         <button style="background-color: #2e5d74;width: 100px;border-radius: 7px;color: white;" >New Row</button>
         <button style="background-color: #2e5d74;width: 100px;border-radius: 7px;color: white;margin-left: 0.5rem;"  >Remove Row</button>
         <button style="background-color: #2e5d74;width: 100px;color:white;border-radius: 7px;margin-left: 33.5rem;"  (click)="save()" >Save</button>
         <button mat-dialog-close style="color: white;background-color: #2e5d74;width: 100px;border-radius: 7px;margin-left: 0.5rem;"   >Cancel</button>
     
     
        
        