<div>
    <h1 mat-dialog-header >Indent For CSD  </h1>
    </div>
    <div mat-dialog-content class="type" >
        
            <label for="">
                Destination
                <input type="type" style="height: 24px;width: 13.5rem;" >
               
            </label>
           
        
        
    </div>
    <div  class="type1" >
        
        <label for="">
            Indent No
            <input type="type" style="height: 24px;width: 13.5rem;" >
           
        </label>
     
</div>
<div  class="type2" >
        
    <label for="">
        Transit Period(In Days)
        <input type="type" style="height: 24px;width: 13.5rem;" >
       
    </label>
 
</div>
<div  class="type3" >
        
    <label for="">
        Date
        <input type="date" style="height: 24px;width: 13.5rem;" >
       
    </label>
 
</div>
   
    

    
   
    <div class="table" style="font-size: small;" >
    <table class="table table-bordered"  >
        
        <tr>
            
            <th>Brand Code</th>
            <th>Brand  Name</th>
            <th>size</th>
            <th>Indent Qty(in cases)</th>
            <th>Rate in RS Per Case F.O.R Destination</th>
            <th>Value(Rs)</th>
            
        </tr> 
        <tr>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text" placeholder="start typing product code or name">
            </td>
            
            <td>
                <input type="text">
            </td>
            <td>
             <input type="text" style="font-size: small;">   
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
         </table>
        
        
                
            
            <button style="background-color: #2e5d74;width: 100px;color:white;border-radius: 7px;margin-left: 33.5rem;"  (click)="save()" >Apporve</button>
            <button mat-dialog-close style="color: white;background-color: #2e5d74;width: 100px;border-radius: 7px;margin-left: 0.5rem;"   >Cancel</button>
        
        
        