<nav style="    background: rgb(45,79,107);
padding: 6px;">
<label for="">
    Start Date :
    <input type="date">
</label>
<label for="">
    End Date:
    <input type="date">
</label>
<img src="https://img.icons8.com/ultraviolet/30/000000/printer-door-open.png">
</nav>
<p style="background-color: #2bc0c7;color: white;
text-align: center;font-weight: bold;">Upload Excel For Debit/Credit <i class="fa fa-file-excel-o" aria-hidden="true"></i></p>


<div>
    <input type="file" style="margin-left: 20rem;
    margin-top: 4rem;">
    
</div>
<br>
<button style="margin-left: 20rem;
padding: 5px;">Upload Data</button>